@model IEnumerable<FormuleCirkelEntity.Models.Driver>

@{
    ViewData["Title"] = "Archived Drivers";
}

<div class="d-inline-block">
    <h1>Archived Drivers</h1>

    <table class="ctable fullborder fullwidth min-width-index-table">
        <thead class="fullborder">
            <tr>
                <th>
                    Number
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Abbreviation)
                </th>
                <th>Stats</th>
                <th>Revert</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverNumber)
                    </td>
                    <td class="text-left">
                        <span class="flag flag-@(Html.DisplayFor(modelItem => item.Country)) flag-margin ml-cel"></span>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abbreviation)
                    </td>
                    <td>
                        <a asp-action="Stats" asp-route-id="@item.Id">
                            <i class="fas fa-id-card fa-2x"></i>
                        </a>
                    </td>
                    @if (ViewBag.userid)
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-undo fa-2x"></i>
                            </a>
                        </td>
                    } else { <td></td> }
                </tr>
            }
        </tbody>
    </table>

    <div class="float-left">
        <a asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
    </div>
</div>
