@model FormuleCirkelEntity.ViewModels.DriverTraitsModel

@{
    ViewData["Title"] = "Traits for team";
}

<div class="d-inline-block w-60">
    <h1>Traits for @Html.DisplayFor(modelItem => modelItem.Driver.Abbreviation)</h1>

    <h3>Applied traits</h3>
    <table class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th class="w-20">Trait</th>
                <th class="w-60">Description</th>
                <th class="w-10">Info</th>
                <th class="w-10"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trait in Model.DriverTraits)
            {
                <tr>
                    <td>
                        @trait.Name
                    </td>
                    <td class="text-left">
                        <span class="ml-cel">@trait.TraitDescription</span>
                    </td>
                    <td>
                        <a asp-controller="Traits" asp-action="Info" asp-route-id="@trait.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td>
                        <a asp-controller="Tracks" asp-action="RemoveTrait" asp-route-trackId="@Model.Driver.Id" asp-route-traitId="@trait.TraitId" class="btn fullwidth">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row justify-content-between mb-1">
        <h3>Add traits</h3>
        <a asp-controller="Traits" asp-action="Create" class="btn">New trait</a>
    </div>
    <table class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th class="w-20">Trait</th>
                <th class="w-60">Description</th>
                <th class="w-10">Info</th>
                <th class="w-10"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trait in Model.Traits)
            {
                <tr>
                    <td>
                        @trait.Name
                    </td>
                    <td class="text-left">
                        <span class="ml-cel">@trait.TraitDescription</span>
                    </td>
                    <td>
                        <a asp-controller="Traits" asp-action="Info" asp-route-id="@trait.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="traitId" value="@trait.TraitId" />
                            <input type="submit" class="btn fullwidth" value="Add" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="float-left">
        <a asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
    </div>
</div>
