@model IEnumerable<FormuleCirkelEntity.Models.Driver>

@{
    ViewData["Title"] = "Coureurs";
}

<h1>Coureurs</h1>

<p>
    <a asp-action="Create">Toevoegen</a>
</p>
<form method="post">
    <div class="form-actions no-color">
        <p>
            Zoek op naam:
            <input type="text" name="SearchString" value="@ViewData["SearchString"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="/Drivers/Index">Terug naar volledige lijst</a>
        </p>
    </div>
</form>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nummer", "Index", new { sortOrder = @ViewData["SortNumber"] })
            </th>
            <th>
                @Html.ActionLink("Naam", "Index", new { sortOrder = @ViewData["SortName"] })
            </th>
            <th>
                Afkorting
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DriverId">Aanpassen</a> |
                <a asp-action="Stats" asp-route-id="@item.DriverId">Stats</a> |
                <a asp-action="Delete" asp-route-id="@item.DriverId">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>