@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<FormuleCirkelEntity.Models.Driver>

@{
    ViewData["Title"] = "Coureurs";
}

<h1>Coureurs</h1>

<div class="table-header-container">
    <p class="table-header-1">
        <a asp-action="Create">
            <i class="fas fa-plus-square fa-2x fa-2x"></i>
        </a>
    </p>
    <form class="table-header-1" method="post">
        <div class="form-actions no-color">
            <p>
                <input type="text" placeholder="Naam" name="SearchString" value="@ViewData["SearchString"]" />
                <input type="submit" value="Zoek" class="btn btn-dark" />
                <a asp-page="/Drivers/Index">
                    <i class="fas fa-undo fa-2x fa-2x"></i>
                </a>
            </p>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nummer
            </th>
            <th>
                Naam
            </th>
            <th>
                Afkorting
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.OnePage)
        {
            <tr>
                <td>
                    @item.DriverNumber
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Abbreviation
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DriverId">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Stats" asp-route-id="@item.DriverId">
                        <i class="fas fa-id-card fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.DriverId">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })