@model IEnumerable<FormuleCirkelEntity.Models.Driver>

@{
    ViewData["Title"] = "Coureurs";
}

<h1>Coureurs</h1>

<div class="table-header-container">
    <p class="table-header-1">
        <a asp-action="Create">
            <i class="fas fa-plus-square"></i>
        </a>
    </p>
    <form class="table-header-1" method="post">
        <div class="form-actions no-color">
            <p>
                <input type="text" placeholder="Naam" name="SearchString" value="@ViewData["SearchString"]" />
                <input type="submit" value="Zoek" class="btn btn-dark" />
                <a asp-page="/Drivers/Index">
                    <i class="fas fa-undo"></i>
                </a>
            </p>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nummer
            </th>
            <th>
                Naam
            </th>
            <th>
                Afkorting
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DriverId">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Stats" asp-route-id="@item.DriverId">
                        <i class="fas fa-id-card"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.DriverId">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
