@model FormuleCirkelEntity.ViewModels.DriverStatsModel

@{
    ViewData["Title"] = "Driver bio";
}

<h1>Biography</h1>
<h4>@Model.Driver.Name</h4>
<hr />

<div class="biocontainer">
    <div class="fixed">
        <dl class="inline-flex">
            <dt>
                Aantal starts:
            </dt>
            <dd>
                @Model.DriverResults.Count()
            </dd>
            <dt>
                Aantal poles:
            </dt>
            <dd>
                @(Model.DriverResults.Where(dr => dr.Grid == 1).Count())
            </dd>
            <dt>
                Aantal podia:
            </dt>
            <dd>
                @(Model.DriverResults.Where(dr => dr.Position <= 3).Count())
            </dd>
            <dt>
                Aantal winsten:
            </dt>
            <dd>
                @(Model.DriverResults.Where(dr => dr.Position == 1).Count())
            </dd>
            <dt>
                Aantal WDCs:
            </dt>
            <dd>
                @ViewBag.championships
            </dd>
            <dt>
                Aantal DNFs:
            </dt>
            <dd>
                @(Model.DriverResults.Where(dr => dr.Status == Status.DNF).Count())
            </dd>
            <dt>
                Gereden voor:
            </dt>
            <dd>
                @foreach (var team in Model.SeasonDriver.Select(select => select.SeasonTeam.Team).Distinct())
                {
                    <span class='badge' style='background-color:@(team.Colour);color:@(team.Accent);font-size:1rem;'>@(team.Abbreviation)</span>
                }
            </dd>
        </dl>
    </div>
    <div id="biography" class="flex-item" contenteditable="true">
        @Html.TextAreaFor(model => model.Driver.Biography)
    </div>
    <button id="save"></button>
</div>

<div>
    <a asp-action="Index">
        <i class="fas fa-arrow-alt-circle-left"></i>
    </a>
</div>

<script>
    $("#save").click(function () {
        var biography = $("#biography").text;

        $.ajax({
            type: "POST",
            url: "/Teams/SaveBio",
            headers: {
                'Accept': 'application/html',
                'Content-Type': 'application/html'
            },
            data: biography,
            dataType: "html",
            complete: function (result) {
                if (result.responseText) {
                    $('head').html(result.responseJSON);
                    $('body').html(result.responseText);
                }
            }
        });
    });
</script>
