@model FormuleCirkelEntity.ViewModels.DriverStatsModel

@{
    ViewData["Title"] = "Stats";
}

<h1>Stats</h1>

<div>
    <h4>@Model.Driver.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Aantal starts:
        </dt>
        <dd class="col-sm-10">
            @Model.DriverResults.Count()
        </dd>
        <dt class="col-sm-2">
            Aantal poles:
        </dt>
        <dd class="col-sm-10">
            @(Model.DriverResults.Where(dr => dr.Grid == 1).Count())
        </dd>
        <dt class="col-sm-2">
            Aantal podia:
        </dt>
        <dd class="col-sm-10">
            @(Model.DriverResults.Where(dr => dr.Position <= 3).Count())
        </dd>
        <dt class="col-sm-2">
            Aantal winsten:
        </dt>
        <dd class="col-sm-10">
            @(Model.DriverResults.Where(dr => dr.Position == 1).Count())
        </dd>
        <dt class="col-sm-2">
            Aantal WDCs:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.championships
        </dd>
        <dt class="col-sm-2">
            Aantal DNFs:
        </dt>
        <dd class="col-sm-10">
            @(Model.DriverResults.Where(dr => dr.Status == Status.DNF).Count())
        </dd>
        <dt class="col-sm-2">
            Gereden voor:
        </dt>
        <dd class="col-sm-10">
            @foreach (var team in Model.SeasonDriver.Select(select => select.SeasonTeam.Team).Distinct())
            {
                <div class='badge' style='background-color:@(team.Colour);color:@(team.Accent);font-size:1rem;'>@(team.Abbreviation)</div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">
        <img src="~/images/icon-back.png" width="30" height="30" title="Back" />
    </a>
</div>
