@model IEnumerable<FormuleCirkelEntity.Models.Team>

@{
    ViewData["Title"] = "ArchivedTeams";
}

<h1>Archived Teams</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <span class="badge" style="background-color:@(item.Colour);color:@(item.Accent);font-size:1rem;">@item.Abbreviation</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamId">
                    <i class="fas fa-tools fa-2x"></i>
                </a>
            </td>
            <td>
                <a asp-action="Stats" asp-route-id="@item.TeamId">
                    <i class="fas fa-signal fa-2x"></i>
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.TeamId">
                    <i class="fas fa-undo fa-2x"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
