@model IEnumerable<FormuleCirkelEntity.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create">
        <i class="fas fa-plus-square"></i>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Afkorting
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <span class="badge" style="background-color:@(item.Colour);color:@(item.Accent);font-size:1rem;">@item.Abbreviation</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TeamId">
                        <i class="fas fa-tools"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Stats" asp-route-id="@item.TeamId">
                        <i class="fas fa-signal"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.TeamId">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
