@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<FormuleCirkelEntity.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<div>
    <a asp-action="Create">
        <i class="fas fa-plus-square fa-2x"></i>
    </a>
    <a class="btn btn-dark float-right" asp-action="ArchivedTeams">Archive</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Abbreviation
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.OnePage)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <span class="badge" style="background-color:@(item.Colour);color:@(item.Accent);font-size:1rem;">@item.Abbreviation</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TeamId">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Stats" asp-route-id="@item.TeamId">
                        <i class="fas fa-signal fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.TeamId">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })