@model IEnumerable<FormuleCirkelEntity.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create">Voeg team toe</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Afkorting
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="badge" style="background-color:@(item.Colour);color:@(item.Accent);font-size:1rem;display:table-cell;">
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamId">Aanpassen</a> |
                <a asp-action="Stats" asp-route-id="@item.TeamId">Stats</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamId">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
