@model FormuleCirkelEntity.ViewModels.TeamStatsModel

@{
    ViewData["Title"] = "Biography team";
}

<div id="graphic">
    <h1>Biography</h1>
    <h4 class='badge' style='background-color:@(Model.Team.Colour);color:@(Model.Team.Accent);font-size:1.5rem;'>@Model.Team.Name</h4>
    <hr />
    <div class="biocontainer">
        <div class="fixed">
            <dl class="inline-flex">
                <dt>
                    Starts:
                </dt>
                <dd>
                    @(Model.DriverResults.Count() / 2)
                </dd>
                <dt>
                    Poles:
                </dt>
                <dd>
                    @(Model.DriverResults.Where(dr => dr.Grid == 1).Count())
                </dd>
                <dt>
                    Podiums:
                </dt>
                <dd>
                    @(Model.DriverResults.Where(dr => dr.Position <= 3).Count())
                </dd>
                <dt>
                    Wins:
                </dt>
                <dd>
                    @(Model.DriverResults.Where(dr => dr.Position == 1).Count())
                </dd>
                <dt>
                    WDCs:
                </dt>
                <dd>
                    @ViewBag.driverchampionships
                </dd>
                <dt>
                    WCCs:
                </dt>
                <dd>
                    @ViewBag.teamchampionships
                </dd>
                <dt>
                    DNFs:
                </dt>
                <dd>
                    @(Model.DriverResults.Where(dr => dr.Status == Status.DNF).Count())
                </dd>
                <dt>
                    Drivers:
                </dt>
                <dd>
                    @foreach (var driver in Model.SeasonDriver.Select(s => s.Driver).Distinct())
                    {
                        <span class="badge badge-light">@(driver.Name)</span>
                    }
                </dd>
            </dl>
        </div>
        <div class="flex-item">
            <p id="biography" contenteditable="true">
                @if (Model.Team.Biography == null)
                {
                    <i>This team has no bio yet!</i>
                }
                else
                {
                    @Model.Team.Biography
                }
            </p>
            <button id="savebio" class="btn btn-dark"><i class="far fa-save"></i></button>
        </div>
    </div>
</div>

<div class="row btn-group">
    <a asp-action="Index">
        <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <button class="btn badge-dark ml-auto" onclick="takeScreenshot()"><i class="fas fa-image fa-2x"></i></button>
</div>

<div id="screenshot"></div>

<script>
    $('#savebio').click(function () {
        $.ajax({
            type: "POST",
            url: "/Teams/SaveBiography",
            data: { id: @Model.Team.TeamId, biography: $("#biography").text() },
            dataType: "html",
            success: function () { alert("Biografie opgeslagen!"); },
            error: function () { alert("Opslaan mislukt!"); }
        });
    });

    function takeScreenshot() {
        html2canvas(document.querySelector('#graphic')).then(function (canvas) {
            $('#screenshot').empty();
            document.querySelector('#screenshot').appendChild(canvas);
        });
    }
</script>