@model FormuleCirkelEntity.ViewModels.TeamStatsModel

@{
    ViewData["Title"] = "Biography team";
}

<div id="graphic" class="d-inline-block m-sides">
    <h1>Biography</h1>
    <h4>@Model.Team.Abbreviation</h4>

    <div class="col mb-1 ml-auto mr-auto" style="max-width: 800px;">
        <h5 class="mb-1"><b>Drivers: </b></h5>
        <div>
            @foreach (var driver in Model.SeasonDriver.Select(s => s.Driver).Distinct())
            {
                <span class="badge teritary mb-1" style="font-size:0.9rem;">@(driver.Name)</span>
            }
        </div>
    </div>

    <div class="row">
        <dl class="row text-left w-50">
            <dt class="col-md-6">
                Starts:
            </dt>
            <dd class="col-md-6">
                @(Model.DriverResults.Count() / 2)
            </dd>
            <dt class="col-md-6">
                Poles:
            </dt>
            <dd class="col-md-6">
                @(Model.DriverResults.Where(dr => dr.Grid == 1).Count())
            </dd>
            <dt class="col-md-6">
                Podiums:
            </dt>
            <dd class="col-md-6">
                @(Model.DriverResults.Where(dr => dr.Position <= 3).Count())
            </dd>
            <dt class="col-md-6">
                Wins:
            </dt>
            <dd class="col-md-6">
                @(Model.DriverResults.Where(dr => dr.Position == 1).Count())
            </dd>
            <dt class="col-md-6">
                WDCs:
            </dt>
            <dd class="col-md-6">
                @ViewBag.driverchampionships
            </dd>
            <dt class="col-md-6">
                WCCs:
            </dt>
            <dd class="col-md-6">
                @ViewBag.teamchampionships
            </dd>
            <dt class="col-md-6">
                DNFs:
            </dt>
            <dd class="col-md-6">
                @(Model.DriverResults.Where(dr => dr.Status == Status.DNF).Count())
            </dd>
            <dt class="col-md-6">
                DSQs:
            </dt>
            <dd class="col-md-6">
                @(Model.DriverResults.Where(dr => dr.Status == Status.DSQ).Count())
            </dd>
        </dl>

        <div class="w-50" style="max-width: 500px;">
            <p id="biography" contenteditable="true">
                @if (Model.Team.Biography == null)
                {
                    <i>This team has no bio yet!</i>
                }
                else
                {
                    @Model.Team.Biography
                }
            </p>
            <button id="savebio" class="btn float-right"><i class="far fa-save"></i></button>
        </div>
    </div>

    <div class="row justify-content-between">
        <a asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>
    </div>

    <div id="screenshot"></div>
</div>

<script>
    $('#savebio').click(function () {
        $.ajax({
            type: "POST",
            url: "/Teams/SaveBiography",
            data: { id: @Model.Team.Id, biography: $("#biography").text() },
            dataType: "html",
            success: function () { alert("Biography saved."); },
            error: function () { alert("Saving biography failed."); }
        });
    });
</script>