@model TraitsIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index of traits</h1>

<a asp-action="Create"><i class="fas fa-plus-square fa-2x"></i></a>
<hr />

<div class="col">
    <h3>Driver</h3>
    <table class="table fullborder">
        <thead class="fullborder">
            <tr>
                <th>
                    Trait
                </th>
                <th>
                    Description
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DriverTraits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TraitDescription)
                    </td>
                    <td>
                        <a asp-action="Info" asp-route-id="@item.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td>
                        <a asp-action="Modify" asp-route-id="@item.TraitId"><i class="fas fa-edit fa-2x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Team</h3>
    <table class="table fullborder">
        <thead class="fullborder">
            <tr>
                <th>
                    Trait
                </th>
                <th>
                    Description
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeamTraits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TraitDescription)
                    </td>
                    <td>
                        <a asp-action="Info" asp-route-id="@item.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td>
                        <a asp-action="Modify" asp-route-id="@item.TraitId"><i class="fas fa-edit fa-2x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Track</h3>
    <table class="table fullborder">
        <thead class="fullborder">
            <tr>
                <th>
                    Trait
                </th>
                <th>
                    Description
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TrackTraits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TraitDescription)
                    </td>
                    <td>
                        <a asp-action="Info" asp-route-id="@item.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td>
                        <a asp-action="Modify" asp-route-id="@item.TraitId"><i class="fas fa-edit fa-2x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>