@model TraitsIndexModel

@{
    ViewData["Title"] = "Index";
    bool isAdmin = this.User.IsInRole(Constants.RoleAdmin);
}

<div class="d-inline-block">
    <h1>Traits</h1>
    <div class="flex-row mb-1">
        @if (isAdmin)
        {
            <a asp-action="Create" class="btn"><i class="fas fa-plus"></i><span class="ml-1">New</span></a>
        }
    </div>

    <div class="flex-col">
        <div class="flex-col">
            <h2 class="mr-auto">Driver</h2>
            <table class="ctable fullborder fullwidth min-width-index-table">
                <thead class="fullborder">
                    <tr>
                        <th class="w-20">
                            Trait
                        </th>
                        <th class="w-60">
                            Description
                        </th>
                        <th class="w-10">Info</th>
                        <th class="w-10">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DriverTraits)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-left">
                                <span class="ml-cel">@Html.DisplayFor(modelItem => item.TraitDescription)</span>
                            </td>
                            <td>
                                <a asp-action="Info" asp-route-id="@item.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                            </td>
                            <td>
                                <a asp-action="Modify" asp-route-id="@item.TraitId"><i class="fas fa-wrench fa-2x"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="flex-col">
            <h2 class="mr-auto">Team</h2>
            <table class="ctable fullborder fullwidth min-width-index-table">
                <thead class="fullborder">
                    <tr>
                        <th class="w-20">
                            Trait
                        </th>
                        <th class="w-60">
                            Description
                        </th>
                        <th class="w-10">Info</th>
                        <th class="w-10">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TeamTraits)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-left">
                                <span class="ml-cel">@Html.DisplayFor(modelItem => item.TraitDescription)</span>
                            </td>
                            <td>
                                <a asp-action="Info" asp-route-id="@item.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                            </td>
                            <td>
                                <a asp-action="Modify" asp-route-id="@item.TraitId"><i class="fas fa-wrench fa-2x"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="flex-col">
            <h2 class="mr-auto">Track</h2>
            <table class="ctable fullborder fullwidth min-width-index-table">
                <thead class="fullborder">
                    <tr>
                        <th class="w-20">
                            Trait
                        </th>
                        <th class="w-60">
                            Description
                        </th>
                        <th class="w-10">Info</th>
                        <th class="w-10">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TrackTraits)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-left">
                                <span class="ml-cel">@Html.DisplayFor(modelItem => item.TraitDescription)</span>
                            </td>
                            <td>
                                <a asp-action="Info" asp-route-id="@item.TraitId"><i class="fas fa-info-circle fa-2x"></i></a>
                            </td>
                            <td>
                                <a asp-action="Modify" asp-route-id="@item.TraitId"><i class="fas fa-wrench fa-2x"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
