@model IEnumerable<FormuleCirkelEntity.Models.SeasonDriver>

@{
    ViewData["Title"] = "Standings";
    var rounds = ViewBag.rounds;
    int position = 1;
    var track = "";
    var seasonId = ViewBag.seasonId;
}

<div class="d-inline-block">
    <div id="graphic">
        <h1>Championship drivers</h1>

        <table class="ctable standings-border fullborder">
            <thead>
                <tr>
                    <th class="fullborder">
                        #
                    </th>
                    <th class="fullborder">
                        Nr.
                    </th>
                    <th class="fullborder">
                        Driver
                    </th>
                    <th class="fullborder">
                        Team
                    </th>
                    @foreach (var round in rounds)
                    {
                        <th class="fullborder">@(track = round.Track.Location.Substring(0, 3).ToUpper())</th>
                    }
                    <th class="fullborder">
                        Pnt.
                    </th>
                    <th class="fullborder">
                        Avg.
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <b>@position</b>
                        </td>
                        <td style="background-color:@(item.SeasonTeam.Colour);color:@(item.SeasonTeam.Accent);">
                            <b>@Html.DisplayFor(modelItem => item.Driver.DriverNumber)</b>
                        </td>
                        <td class="text-left pr-2">
                            <span class="ml-cel">@Html.DisplayFor(modelItem => item.Driver.Name)</span>
                        </td>
                        <td style="background-color:@(item.SeasonTeam.Colour);color:@(item.SeasonTeam.Accent);">
                            <span class="pl-1 pr-1">@item.SeasonTeam.Name</span>
                        </td>
                        @foreach (var round in rounds)
                        {
                            DriverResult result = item.DriverResults.FirstOrDefault(r => r.Race.Round == round.Round);
                            if (result == null || result.Position == 0)
                            {
                                <td><span>-</span></td>
                            }
                            else
                            {
                                if (result.Status == Status.DNF)
                                {
                                    if (result.Grid == 1)
                                    {
                                        <td class="result-dnf">DNF<b class="pole"> P</b></td>
                                    }
                                    else
                                    {
                                        <td class="result-dnf">DNF</td>
                                    }
                                }
                                else if (result.Status == Status.DSQ)
                                {
                                    if (result.Grid == 1)
                                    {
                                        <td class="badge-dsq">DSQ<b class="pole"> P</b></td>
                                    }
                                    else
                                    {
                                        <td class="badge-dsq">DSQ</td>
                                    }
                                }
                                else if (result.Position == 1)
                                {
                                    if (result.Grid == 1)
                                    {
                                        <td class="badge-first">@result.Position<b class="pole"> P</b></td>
                                    }
                                    else
                                    {
                                        <td class="badge-first">@result.Position</td>
                                    }
                                }
                                else if (result.Position == 2)
                                {
                                    if (result.Grid == 1)
                                    {
                                        <td class="badge-second">@result.Position<b class="pole"> P</b></td>
                                    }
                                    else
                                    {
                                        <td class="badge-second">@result.Position</td>
                                    }
                                }
                                else if (result.Position == 3)
                                {
                                    if (result.Grid == 1)
                                    {
                                        <td class="badge-third">@result.Position<b class="pole"> P</b></td>
                                    }
                                    else
                                    {
                                        <td class="badge-third">@result.Position</td>
                                    }
                                }
                                else if (result.Position <= ViewBag.lastpointpos)
                                {
                                    if (result.Grid == 1)
                                    {
                                        <td class="result-points">@result.Position<b class="pole"> P</b></td>
                                    }
                                    else
                                    {
                                        <td class="result-points">@result.Position</td>
                                    }
                                }
                                else
                                {
                                    if (result.Grid == 1)
                                    {
                                        <td class="result-none">@result.Position<b class="pole"> P</b></td>
                                    }
                                    else
                                    {
                                        <td class="result-none">@result.Position</td>
                                    }
                                }
                            }
                        }
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.Points)</span>
                        </td>
                        <td>
                            @foreach (var avg in ViewBag.averages)
                            {
                                if (avg.Driver == item)
                                {
                                    <span class='alt-font ml-1' style="font-size:0.7rem;">@avg.Averagepos</span>
                                }
                            }
                        </td>
                    </tr>
                    position++;
                }
            </tbody>
        </table>
    </div>
    

    <div class="flex-row justify-content-between">
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>
        <button class="btn" onclick="getStandingsGraph()"><i class="fas fa-chart-bar fa-2x"></i></button>
    </div>

    <div id="screenshot"></div>
    <canvas id="standingsChart" style="display: none;"></canvas>
</div>

<script>
    var polepoint = @ViewBag.polepoint;

    function drawStandingsChart(res) {
        var ctx = document.getElementById('standingsChart');
        ctx.style.display = "block";
        ctx.height = 300;
        ctx.backgroundColor = 'rgba(30, 34, 39, 0.9)';
        ctx.getContext('2d');
        var driversets = [];
        var points = @(Html.Raw(ViewBag.points));

        $(res).each(function (driverKey, driverValue) {
            var raceresults = [];
            let total = 0;

            driverValue.DriverResults.forEach(function (result) {
                if (result.Position <= @ViewBag.lastpointpos) {
                    total = total + points[result.Position];
                }
                if (result.Grid == 1) {
                    total = total + polepoint;
                }
                raceresults.push(total);
            });
            console.log(driverValue.Driver.Name);
            console.log(driverValue.DriverResults);

            var driverDataset = {
                label: driverValue.Driver.Name,
                backgroundColor: driverValue.SeasonTeam.Accent,
                borderColor: driverValue.SeasonTeam.Colour,
                data: raceresults,
                fill: false
            };

            if (driversets.some(d => d.backgroundColor === driverValue.SeasonTeam.Accent && d.borderColor === driverValue.SeasonTeam.Colour)) {
                driverDataset.borderDash = [5, 5];
            }
            driversets.push(driverDataset);
        });

        let roundsDriven = driversets[0].data.length;
        var roundlabels = [];
        for (i = 1; i <= roundsDriven; i++) {
            var roundlabel = i;
            roundlabels.push(roundlabel);
        }

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: roundlabels,
                datasets: driversets
            },
            options: {
                title: {
                    display: true,
                    text: 'World Driver Championship',
                    fontColor: '#e6e6e6'
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Rounds',
                            fontColor: '#e6e6e6'
                        },
                        ticks: {
                            fontColor: '#e6e6e6'
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 0.7)",
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Points',
                            fontColor: '#e6e6e6'
                        },
                        ticks: {
                            fontColor: '#e6e6e6'
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 0.7)",
                        },
                        position: 'right'
                    }]
                },
                elements: {
                    line: {
                        tension: 0
                    }
                },
                legend: {
                    labels: {
                        boxWidth: 28,
                        fontSize: 13,
                        fontColor: '#e6e6e6'
                    }
                },
                chartCanvas: {
                    backgroundColor: 'rgba(56, 64, 71, 0.9)'
                }
            }
        });

        Chart.pluginService.register({
            beforeDraw: function (chart, easing) {
                // Makes it possible to give a backgroundcolor to the canvas
            if (chart.config.options.chartCanvas && chart.config.options.chartCanvas.backgroundColor) {
                var ctx = chart.chart.ctx;
                ctx.save();
                ctx.fillStyle = chart.config.options.chartCanvas.backgroundColor;
                ctx.fillRect(0, 0, chart.chart.width, chart.chart.height);
                ctx.restore();
            }}
        });

        let legends = chart.legend.legendItems;
            legends.forEach(function (e) {
                [e.fillStyle, e.strokeStyle] = [e.strokeStyle, e.fillStyle];
            });
    }

    function getStandingsGraph() {
        fetch("/Home/@seasonId/GetDriverGraphData", { method: "POST" })
            .then(response => response.json())
            .then(result => drawStandingsChart(result));
    }
</script>
