@model IEnumerable<FormuleCirkelEntity.Models.SeasonTeam>

@{
    ViewData["Title"] = "Standings";
    var rounds = ViewBag.rounds;
    var drivers = ViewBag.drivers;
    int position = 1;
    var track = "";
    int drivercount = 0;
}

<h1>Championship teams</h1>


<table id="graphic" class="table standings-border fullborder">
    <thead>
        <tr>
            <th class="fullborder">
                #
            </th>
            <th class="fullborder">
                Principal
            </th>
            <th class="fullborder">
                Team
            </th>
            <th class="fullborder">
                Pts.
            </th>
            @foreach (var round in rounds)
            {
                <th class="fullborder">@(track = round.Track.Location.Substring(0, 3).ToUpper())</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td rowspan="@(item.SeasonDrivers.Count + 1)">
                    <b>@position</b>
                </td>
                <td class="text-left" rowspan="@(item.SeasonDrivers.Count + 1)">
                    <span class="driver-col">@Html.DisplayFor(modelItem => item.Principal)</span>
                </td>
                <td rowspan="@(item.SeasonDrivers.Count + 1)" style="background-color:@(item.Colour);color:@(item.Accent);">
                    @item.Name
                </td>
                <td rowspan="@(item.SeasonDrivers.Count + 1)">
                    <b>@Html.DisplayFor(modelItem => item.Points)</b>
                </td>
                @foreach (var driver in item.SeasonDrivers)
                {
                    <tr>
                    @foreach (var round in rounds)
                    {
                        DriverResult result = driver.DriverResults.FirstOrDefault(r => r.Race.Round == round.Round);
                        if (result == null || result.Position == 0)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            if (result.Status == Status.DNF)
                            {
                                <td class="result-dnf">DNF</td>
                            } 
                            else if(result.Status == Status.DSQ)
                            {
                                <td class="badge-dsq">DSQ</td>
                            } 
                            else if(result.Position == 1)
                            {
                                <td class="badge-first">@result.Position</td>
                            } 
                            else if(result.Position == 2)
                            {
                                <td class="badge-second">@result.Position</td>
                            } 
                            else if(result.Position == 3)
                            {
                                <td class="badge-third">@result.Position</td>
                            } 
                            else if(result.Position <= ViewBag.lastpointpos)
                            {
                                <td class="result-points">@result.Position</td>
                            }
                            else
                            {
                                <td class="result-none">@result.Position</td>
                            }
                        }
                    }
                    </tr>
                }
            </tr>
            position++;
        }
    </tbody>
</table>

<button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>

<div id="screenshot"></div>

<style>
    .badge {
        font-size: 0.85rem;
    }
</style>