@model FormuleCirkelEntity.ViewModels.TeamStandingsModel

@{
    ViewData["Title"] = "Standings";
    int position = 1;
}

<div class="d-inline-block">
    <div id="graphic">
        <h1>Championship teams</h1>

        <table class="ctable standings-border fullborder">
            <thead>
                <tr>
                    <th class="fullborder">
                        #
                    </th>
                    <th class="fullborder">
                        Principal
                    </th>
                    <th class="fullborder">
                        Team
                    </th>
                    <th class="fullborder">
                        Pts.
                    </th>
                    @foreach (var track in Model.Locations)
                    {
                        <th class="fullborder">@track</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SeasonTeams)
                {
                    <tr>
                        <td rowspan="@(item.SeasonDrivers.Count + 1)">
                            <b>@position</b>
                        </td>
                        <td class="text-left pr-2" rowspan="@(item.SeasonDrivers.Count + 1)">
                            <span class="ml-cel">@Html.DisplayFor(modelItem => item.Principal)</span>
                        </td>
                        <td rowspan="@(item.SeasonDrivers.Count + 1)" style="background-color:@(item.Colour);color:@(item.Accent);">
                            <span class="pl-1 pr-1">@item.Name</span>
                        </td>
                        <td rowspan="@(item.SeasonDrivers.Count + 1)">
                            <b>@Html.DisplayFor(modelItem => item.Points)</b>
                        </td>
                        @foreach (var driver in item.SeasonDrivers)
                        {
                        <tr>
                            @foreach (var round in Model.Rounds)
                            {
                                DriverResult result = Model.DriverResults
                                    .FirstOrDefault(r => r.SeasonDriverId == driver.SeasonDriverId && r.RaceId == round);
                                if (result == null || result.Position == 0)
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    if (result.Status == Status.DNF)
                                    {
                                        <td class="result-dnf">DNF</td>
                                    }
                                    else if (result.Status == Status.DSQ)
                                    {
                                        <td class="badge-dsq">DSQ</td>
                                    }
                                    else if (result.Position == 1)
                                    {
                                        <td class="badge-first">@result.Position</td>
                                    }
                                    else if (result.Position == 2)
                                    {
                                        <td class="badge-second">@result.Position</td>
                                    }
                                    else if (result.Position == 3)
                                    {
                                        <td class="badge-third">@result.Position</td>
                                    }
                                    else if (result.Position <= Model.LastPointPos)
                                    {
                                        <td class="result-points">@result.Position</td>
                                    }
                                    else
                                    {
                                        <td class="result-none">@result.Position</td>
                                    }
                                }
                            }
                        </tr>
                    }
                        </tr>
                        position++;
                    }
            </tbody>
        </table>
    </div>

    <div class="flex-row justify-content-between">
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>
        <button class="btn" onclick="getStandingsGraph()"><i class="fas fa-chart-bar fa-2x"></i></button>
    </div>

    <div id="screenshot"></div>
    <canvas id="standingsChart" style="display: none;"></canvas>
</div>

<script>
    function drawStandingsChart(res) {
        var ctx = document.getElementById('standingsChart');
        ctx.style.display = "block";
        ctx.height = 300;
        ctx.backgroundColor = 'rgba(30, 34, 39, 0.9)';
        ctx.getContext('2d');
        var datasets = [];
        var polepoint = @ViewBag.polepoint;
        var points = @(Html.Raw(ViewBag.points));

        $(res).each(function (key, val) {
            var raceresults = [];

            val.SeasonDrivers.forEach(function (driver) {
                let total = 0;
                var driverresults = [];
                driver.DriverResults.forEach(function (driverresult) {
                    if (driverresult.Position <= @Model.LastPointPos) {
                        total = total + points[driverresult.Position];
                    }
                    if (driverresult.Grid == 1) {
                        total = total + polepoint;
                    }
                    driverresults.push(total);
                });
                raceresults.push(driverresults);
            });

            var teamresults = raceresults[0].map(function (num, idx) {
                return num + raceresults[1][idx];
            });

            var teamDataset = {
                label: val.Name,
                backgroundColor: val.Accent,
                borderColor: val.Colour,
                data: teamresults,
                fill: false
            }

            datasets.push(teamDataset);
        });

        let roundsDriven = datasets[0].data.length;
        var roundlabels = [];
        for (i = 1; i <= roundsDriven; i++) {
            var roundlabel = i;
            roundlabels.push(roundlabel);
        }

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: roundlabels,
                datasets: datasets
            },
            options: {
                title: {
                    display: true,
                    text: 'World Constructor Championship',
                    fontColor: '#e6e6e6'
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Rounds',
                            fontColor: '#e6e6e6'
                        },
                        ticks: {
                            fontColor: '#e6e6e6'
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 1.0)",
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Points',
                            fontColor: '#e6e6e6'
                        },
                        ticks: {
                            fontColor: '#e6e6e6'
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 1.0)",
                        },
                        position: 'right'
                    }]
                },
                elements: {
                    line: {
                        tension: 0
                    }
                },
                legend: {
                    labels: {
                        boxWidth: 28,
                        fontSize: 13,
                        fontColor: '#e6e6e6'
                    }
                },
                chartCanvas: {
                    backgroundColor: 'rgba(67, 76, 86, 0.9)'
                }
            }
        });

        Chart.pluginService.register({
            beforeDraw: function (chart, easing) {
                // Makes it possible to give a backgroundcolor to the canvas
            if (chart.config.options.chartCanvas && chart.config.options.chartCanvas.backgroundColor) {
                var ctx = chart.chart.ctx;
                ctx.save();
                ctx.fillStyle = chart.config.options.chartCanvas.backgroundColor;
                ctx.fillRect(0, 0, chart.chart.width, chart.chart.height);
                ctx.restore();
            }}
        });

        let legends = chart.legend.legendItems;
            legends.forEach(function (e) {
                [e.fillStyle, e.strokeStyle] = [e.strokeStyle, e.fillStyle];
            });
    }

    function getStandingsGraph() {
        fetch("/Home/@ViewBag.seasonId/GetTeamGraphData", { method: "POST" })
            .then(response => response.json())
            .then(result => drawStandingsChart(result));
    }
</script>
