@model IEnumerable<FormuleCirkelEntity.Areas.Identity.Data.SimUser>

@{
    ViewData["Title"] = "Users index";
}

<table class="ctable fullborder fullwidth min-width-index-table">
    <thead>
        <tr>
            <td>Username</td>
            <td>Full name</td>
            <td>E-mail</td>
            <td>Owns drivers</td>
            <td>Owns teams</td>
            <td>Modify</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                <td>@Html.DisplayFor(modelItem => user.FullName)</td>
                <td>@Html.DisplayFor(modelItem => user.Email)</td>
                <td>@Html.DisplayFor(modelItem => user.Drivers.Count)</td>
                <td>@Html.DisplayFor(modelItem => user.Teams.Count)</td>
                <td>
                    <a asp-action="Modify" asp-route-userId="@user.Id">
                        <i class="fas fa-wrench fa-2x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
