@model RolesEditModel

<div class="d-inline-block">
    <h1>Update Role</h1>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post">
        <input type="hidden" name="roleName" value="@Model.Role.Name" />
        <input type="hidden" name="roleId" value="@Model.Role.Id" />

        <h2 class="float-left">Add To @Model.Role.Name</h2>
        <table class="ctable fullborder fullwidth min-width-index-table">
            <thead>
                <tr>
                    <td class="w-75">User</td>
                    <td class="w-25">Add</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.NonMembers.Count() == 0)
                {
                    <tr><td colspan="2">All Users Are Members</td></tr>
                }
                else
                {
                    @foreach (SimUser user in Model.NonMembers)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="AddIds" value="@user.Id">
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <h2 class="float-left">Remove From @Model.Role.Name</h2>
        <table class="ctable fullborder fullwidth min-width-index-table">
            <thead>
                <tr>
                    <td class="w-75">User</td>
                    <td class="w-25">Remove</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Members.Count() == 0)
                {
                    <tr><td colspan="2">No Users Are Members</td></tr>
                }
                else
                {
                    @foreach (SimUser user in Model.Members)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="DeleteIds" value="@user.Id">
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="submit" class="btn fullwidth">Save</button>
    </form>

    <div class="float-left">
        <a asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
    </div>
</div>

<style>
    input[type=checkbox] {
        transform: scale(2);
    }
</style>