@model IEnumerable<FormuleCirkelEntity.Models.Track>

@{
    ViewData["Title"] = "Add races";
}

<div class="d-inline-block w-60">
    <h3>Season @ViewBag.seasonId - Add races</h3>

    <table class="ctable fullborder fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Specification</th>
                <th>Edit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    <td>@Html.DisplayFor(modelItem => item.Specification)</td>
                    <td data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipModifyRaceBtn">
                        <a asp-action="ModifyRace" asp-route-id="@ViewBag.seasonId" asp-route-trackId="@item.Id">
                            <i class="fas fa-cog fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="trackId" value="@item.Id" />
                            <input type="submit" class="btn fullwidth" value="Add" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn float-left" asp-controller="Season" asp-action="Detail" asp-route-id="@ViewBag.seasonId">
        <i class="fas fa-arrow-alt-circle-left"></i> Back
    </a>
</div>

