@model FormuleCirkelEntity.ViewModels.ModifyRaceModel

@{
    ViewData["Title"] = "Modify Race";
}

<h1>Modify race</h1>
<br />
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.SeasonId, new { style = "display: none;" })
                @Html.TextBoxFor(m => m.TrackId, new { style = "display: none;" })
            </div>
            <table class="table" id="racestints">
                <thead>
                    <tr>
                        <th>Driver skill</th>
                        <th>Chassis</th>
                        <th>Engine</th>
                        <th>Tire bonus</th>
                        <th>Tire wear</th>
                        <th>Qualifying bonus</th>
                        <th>Reliability</th>
                        <th>@Html.DisplayNameFor(s => s.RaceStints.FirstOrDefault().RNGMinimum)</th>
                        <th>@Html.DisplayNameFor(s => s.RaceStints.FirstOrDefault().RNGMaximum)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.RaceStints.Count; i++)
                    {
                    <tr>
                        <td>
                            <input type="hidden" name="RaceStints.Index" value="@i">
                            @Html.CheckBoxFor(m => m.RaceStints[i].ApplyDriverLevel, new { @class = "form-check-input" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.RaceStints[i].ApplyChassisLevel, new { @class = "form-check-input" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.RaceStints[i].ApplyEngineLevel, new { @class = "form-check-input" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.RaceStints[i].ApplyTireLevel, new { @class = "form-check-input" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.RaceStints[i].ApplyTireWear, new { @class = "form-check-input" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.RaceStints[i].ApplyQualifyingBonus, new { @class = "form-check-input" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.RaceStints[i].ApplyReliability, new { @class = "form-check-input" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RaceStints[i].RNGMinimum, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RaceStints[i].RNGMaximum, new { @class = "form-control" })
                        </td>
                        <td>
                            <button type="button" class="btn delete">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <button type="button" id="add" class="btn">Add Stint</button>
            <div>
                <button type="submit" class="btn btn-success submit">Save</button>
            </div>
        }
    </div>
</div>


<table id="newrow" style="display:none;">
    <tr>
        <td>
            <input type="hidden" name="RaceStints.Index" value="%">
            <input class="form-check-input" name="RaceStints[#].ApplyDriverLevel" type="checkbox" value="true" checked>
        </td>
        <td>
            <input class="form-check-input" name="RaceStints[#].ApplyChassisLevel" type="checkbox" value="true" checked>
        </td>
        <td>
            <input class="form-check-input" name="RaceStints[#].ApplyEngineLevel" type="checkbox" value="true" checked>
        </td>
        <td>
            <input class="form-check-input" name="RaceStints[#].ApplyTireLevel" type="checkbox" value="true">
        </td>
        <td>
            <input class="form-check-input" name="RaceStints[#].ApplyTireWear" type="checkbox" value="true">
        </td>
        <td>
            <input class="form-check-input" name="RaceStints[#].ApplyQualifyingBonus" type="checkbox" value="true">
        </td>
        <td>
            <input class="form-check-input" name="RaceStints[#].ApplyReliability" type="checkbox" value="true" checked>
        </td>
        <td>
            <input class="form-control" name="RaceStints[#].RNGMinimum" type="text" value="0">
        </td>
        <td>
            <input class="form-control" name="RaceStints[#].RNGMaximum" type="text" value="25">
        </td>
        <td>
            <button type="button" class="btn delete">Delete</button>
        </td>
    </tr>
</table>

<script type="text/javascript">
    var form = $('form');
    var table = $('#racestints tbody');
    var newrow = $('#newrow');

    $('#add').click(function () {
        var index = (new Date()).getTime();
        var clone = newrow.find('tr').clone();
        clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
        clone.html($(clone).html().replace(/"%"/g, '"' + index + '"'));
        table.append(clone);
    });
    $('#racestints').on('click', '.delete', function () {
        $(this).closest('tr').remove();
    });

</script>

<style>
    input[type=checkbox] {
        transform: scale(2);
    }
</style>