@model FormuleCirkelEntity.ViewModels.RacesModifyRaceModel

@{
    ViewData["Title"] = "Modify Race";
}

    <div class="d-inline-block w-60">
        <h1>Modify @ViewBag.trackname</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.SeasonId, new { style = "display: none;" })
                @Html.TextBoxFor(m => m.TrackId, new { style = "display: none;" })
            </div>

            <div class="row justify-content-between mb-1">
                <button type="button" id="add" class="btn">Add Stint</button>
                <button type="submit" class="btn submit">Save</button>
            </div>

            <table id="racestints" class="ctable standings-border fullborder fullwidth">
                <thead>
                    <tr>
                        <th class="w-10" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipStintEventDriverSkill">Driver skill</th>
                        <th class="w-10" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipStintEventTeamChassis">Chassis</th>
                        <th class="w-10" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipStintEventEnginePower">Engine</th>
                        <th class="w-10" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipStintEventQualyBonus">Qualifying bonus</th>
                        <th class="w-10" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipStintEventReliability">Reliability</th>
                        <th class="w-10" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipStintEventLowerRng">@Html.DisplayNameFor(s => s.RaceStints.FirstOrDefault().RNGMinimum)</th>
                        <th class="w-10" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipStintEventUpperRng">@Html.DisplayNameFor(s => s.RaceStints.FirstOrDefault().RNGMaximum)</th>
                        <th class="w-10"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.RaceStints.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" name="RaceStints.Index" value="@i">
                                @Html.CheckBoxFor(m => m.RaceStints[i].ApplyDriverLevel)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.RaceStints[i].ApplyChassisLevel)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.RaceStints[i].ApplyEngineLevel)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.RaceStints[i].ApplyQualifyingBonus)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.RaceStints[i].ApplyReliability)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.RaceStints[i].RNGMinimum, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.RaceStints[i].RNGMaximum, new { @class = "form-control" })
                            </td>
                            <td>
                                <button type="button" class="btn fullwidth delete">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <table id="newrow" style="display:none;">
            <tr>
                <td>
                    <input type="hidden" name="RaceStints.Index" value="%">
                    <input name="RaceStints[#].ApplyDriverLevel" type="checkbox" value="true" checked>
                </td>
                <td>
                    <input name="RaceStints[#].ApplyChassisLevel" type="checkbox" value="true" checked>
                </td>
                <td>
                    <input name="RaceStints[#].ApplyEngineLevel" type="checkbox" value="true" checked>
                </td>
                <td>
                    <input name="RaceStints[#].ApplyQualifyingBonus" type="checkbox" value="true">
                </td>
                <td>
                    <input name="RaceStints[#].ApplyReliability" type="checkbox" value="true" checked>
                </td>
                <td>
                    <input class="form-control" name="RaceStints[#].RNGMinimum" type="text" value="10">
                </td>
                <td>
                    <input class="form-control" name="RaceStints[#].RNGMaximum" type="text" value="40">
                </td>
                <td>
                    <button type="button" class="btn fullwidth delete">Delete</button>
                </td>
            </tr>
        </table>
    </div>

<script type="text/javascript">
    var form = $('form');
    var table = $('#racestints tbody');
    var newrow = $('#newrow');

    $('#add').click(function () {
        var index = (new Date()).getTime();
        var clone = newrow.find('tr').clone();
        clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
        clone.html($(clone).html().replace(/"%"/g, '"' + index + '"'));
        table.append(clone);
    });

    $('#racestints').on('click', '.delete', function () {
        $(this).closest('tr').remove();
    });

</script>

<style>
    input[type=checkbox] {
        transform: scale(2);
    }
</style>