@model Race
@{
    ViewData["Title"] = "Race";
    int maxPos = Model.Season.PointsPerPosition.Keys.Max();
    int countdrivers = Model.Season.Drivers.Count;
}

<div class="d-inline-block">
    @if (Model.Season.State == SeasonState.Progress)
    {
        <div class="row justify-content-between">
            @if (Model.RaceState == RaceState.Race)
            {
                <a class="btn w-25" onclick="advanceStint()">Next stint</a>

                <form asp-action="FinishRace" asp-route-seasonId="@(Model.SeasonId)" asp-route-raceId="@(Model.RaceId)" id="finish" class="w-25">
                    <input type="submit" value="Finish" class="btn fullwidth" />
                </form>
            }
        </div>
    }

    <div id="graphic" class="row">
        <h1>@Model.Track.Name</h1>
        <i id="weather" class="ml-auto fas"></i>
        <table id="results" class="ctable fullborder fullwidth">
            <thead>
                <tr>
                    <th class="fullborder" data-field="position">Pos.</th>
                    <th class="fullborder">Nr.</th>
                    <th class="fullborder">Name</th>
                    <th class="fullborder">Team</th>
                    <th class="fullborder">Grid</th>
                    @foreach (var stint in Model.Stints)
                    {
                        <th class="fullborder" data-field="stintResultHeader-@stint.Key">
                            @stint.Key
                        </th>
                    }
                    <th class="fullborder" data-field="pointsTotal">Score</th>
                    <th class="fullborder">Gap</th>
                    <th class="fullborder">Pts.</th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driverResult in Model.DriverResults.OrderBy(d => d.Position))
                {
                    int gridChange = (driverResult.Grid - driverResult.Position);
                    <tr data-obj-id="@driverResult.SeasonDriverId">
                        <td data-field="position"><b class="alt-font">@driverResult.Position</b></td>
                        <td data-field="driverNumber"><span class="badge fullwidth font-size-default" style="background-color:@(driverResult.SeasonDriver.SeasonTeam.Colour);color:@(driverResult.SeasonDriver.SeasonTeam.Accent);">@driverResult.SeasonDriver.Driver.DriverNumber</span></td>
                        <td class="text-left" data-field="driverName"><span class="ml-cel result-click" style="cursor:pointer;">@driverResult.SeasonDriver.Driver.Name</span></td>
                        <td data-field="teamName"><span class="badge fullwidth font-size-default" style="background-color:@(driverResult.SeasonDriver.SeasonTeam.Colour);color:@(driverResult.SeasonDriver.SeasonTeam.Accent);">@driverResult.SeasonDriver.SeasonTeam.Team.Abbreviation</span></td>
                        <td data-field="startGrid">
                            @if (gridChange > 0)
                            {
                                <i class='fas fa-caret-up' style='color:green;'></i><span class='alt-font ml-1' style="font-size:0.7rem;">@gridChange</span>
                            }
                            else if (gridChange < 0)
                            {
                                <i class='fas fa-caret-down' style='color:red;'></i><span class='alt-font ml-1' style="font-size:0.7rem;">@(gridChange * -1)</span>
                            }
                            else
                            {
                                <i class='fas fa-minus' style='color:yellow;font-size:0.7rem;'></i><span class='alt-font ml-1' style="font-size:0.7rem;">@gridChange</span>
                            }
                        </td>
                        @foreach (var stint in Model.Stints)
                        {
                            var stintResult = driverResult.StintResults.SingleOrDefault(res => res.Key == stint.Key);
                            if (stintResult.Equals(default(KeyValuePair<int, int?>)))
                            {
                                stintResult = new KeyValuePair<int, int?>(stint.Key, null);
                            }
                            <td data-field="stintResult-@stintResult.Key">@(stintResult.Value == null ? "-" : stintResult.Value.ToString())</td>
                        }
                        @if (driverResult.Status == Status.DNF)
                        {
                            <td data-field="pointsTotal"><span class="badge result-dnf nofullwidth">DNF</span></td>
                            <td data-field="dnfCause"><i>@driverResult.DNFCause</i></td>

                        }
                        else if (driverResult.Status == Status.DSQ)
                        {
                            <td data-field="pointsTotal"><span class="badge badge-dsq nofullwidth">DSQ</span></td>
                            <td data-field="dnfCause"><b>@driverResult.DSQCause</b></td>
                        }
                        else
                        {
                            <td data-field="pointsTotal">@driverResult.Points</td>
                            <td data-field="dnfCause">-</td>
                        }

                        @if (driverResult.Position > maxPos)
                        {
                            <td data-field="points"></td>
                        }
                        else
                        {
                            <td data-field="points"><b class="alt-font">@Model.Season.PointsPerPosition[driverResult.Position]</b></td>
                        }
                        <td data-field="abbreviation" style="display:none;"><span>@driverResult.SeasonDriver.Driver.Abbreviation</span></td>
                        <td data-field="fullTeamName" style="display:none;"><span>@driverResult.SeasonDriver.SeasonTeam.Name</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row justify-content-between">
        <button class="btn" onclick="takeScreenshot('#graphic', '.screenshot')"><i class="fas fa-image fa-2x"></i></button>
        <button class="btn" onclick="redrawChart()"><i class="fas fa-chart-bar fa-2x mt-auto"></i></button>
    </div>

    <div class="screenshot"></div>

    <div id="resultScreenshot"></div>

    <div style="overflow: hidden; height: 0;">
        <div id="formulaGraphic">
            <div id="position">0</div>
            <div id="divider"></div>

            <div id="details">
                <div id="name">Firstname Lastname</div>
                <div id="team">Racing Team</div>
            </div>

            <div id="extra">
                <div id="number">0</div>
                <div id="tla">LAS</div>
            </div>
        </div>
    </div>

    <div id="raceChartWrap">
        <canvas id="raceChart"></canvas>
    </div>
</div>

<script>
    var progress = @Model.StintProgress;

    $(function () {
        // Appends the correct icon for the corresponding weather for the race
        var weatherclass = "";
        switch ("@Model.Weather") {
            case "Sunny":
                weatherclass = "fa-sun fa-2x";
                break;
            case "Overcast":
                weatherclass = "fa-cloud fa-2x";
                break;
            case "Rain":
                weatherclass = "fa-cloud-rain fa-2x";
                break;
            case "Storm":
                weatherclass = "fa-cloud-moon-rain fa-2x";
                break;
        }
        $("#weather").addClass(weatherclass);

        // Also starts the function to calculate the gap between drivers.
        calculateGap();
    });

    const table = document.querySelector('#results');
    const tableBody = table.querySelector("tbody");

    function resultOrMissing(result) {
        return (result == null ? "-" : result);
    }

    var DNFCauses = [
        "None",
        "Damage",
        "Collision",
        "Accident",
        "Puncture",
        "Engine",
        "Electrics",
        "Exhaust",
        "Clutch",
        "Hydraulics",
        "Wheel",
        "Brakes"
    ];

    var DSQCauses = [
        "None",
        "Illegal",
        "Fuel",
        "Dangerous",
    ];

    function processStintResponse(res) {
        progress = res.StintProgress;
        let pointsPosition = @(Json.Serialize(Model.Season.PointsPerPosition))
        res.DriverResults.forEach((driverResult, idx) => {
            let row = tableBody.querySelector("tr[data-obj-id='" + driverResult.SeasonDriverId + "']");

            if (driverResult.Status == 1) {
                row.querySelector("td[data-field='pointsTotal']").innerHTML = "<span class='badge result-dnf nofullwidth'>DNF</span>";
                row.querySelector("td[data-field='dnfCause']").innerHTML = "<i>" + DNFCauses[driverResult.DNFCause] + "</i>";
            }
            else if (driverResult.Status == 2) {
                row.querySelector("td[data-field='pointsTotal']").innerHTML = "<span class='badge badge-dsq nofullwidth'>DSQ</span>";
                row.querySelector("td[data-field='dnfCause']").innerHTML = "<b>" + DSQCauses[driverResult.DSQCause] + "</b>";
            }
            else {
                row.querySelector("td[data-field='pointsTotal']").innerText = driverResult.Points;
                row.querySelector("td[data-field='dnfCause']").innerText = "-";
            }

            row.querySelector("td[data-field='position']").innerText = driverResult.Position;
            let gridChange = (driverResult.Grid - driverResult.Position);
            if (gridChange > 0) {
                row.querySelector("td[data-field='startGrid']").innerHTML = "<i class='fas fa-caret-up' style='color:green;'></i><span class='alt-font ml-1' style='font-size: 0.7rem;'> " + gridChange + " </span>";
            }
            else if (gridChange < 0) {
                row.querySelector("td[data-field='startGrid']").innerHTML = "<i class='fas fa-caret-down' style='color:red;'></i><span class='alt-font ml-1' style='font-size: 0.7rem;'> " + (gridChange * -1) + " </span>";
            }
            else {
                row.querySelector("td[data-field='startGrid']").innerHTML = "<i class='fas fa-minus' style='color:yellow;font-size:0.7rem;'></i><span class='alt-font ml-1' style='font-size: 0.7rem;'> " + gridChange + " </span>";
            }
            Object.getOwnPropertyNames(driverResult.StintResults).forEach((stintKey) => {
                let stintResult = driverResult.StintResults[stintKey];
                row.querySelector("td[data-field='stintResult-" + stintKey + "']").innerText = resultOrMissing(stintResult);
            });
            if (driverResult.Position > @maxPos) {
                row.querySelector("td[data-field='points']").innerHTML = "<td data-field='points'></td>";
            } else {
                row.querySelector("td[data-field='points']").innerHTML = "<td data-field='points'><b class='alt-font'>" + pointsPosition[driverResult.Position] + "</b></td>";
            }
        });

        let th = table.querySelector("th[data-field='position']")
        let tableRows = tableBody.querySelectorAll("tr:nth-child(n+1)")
        Array.from(tableRows)
            .sort(tableComparer(Array.from(th.parentNode.children).indexOf(th), true))
            .forEach(tr => table.querySelector("tbody").appendChild(tr));

        calculateGap();
    }

    function advanceStint() {
        fetch("/Season/@Model.SeasonId/Races/@Model.RaceId/Advance", { method: "POST" })
            .then(response => response.json())
            .then(result => processStintResponse(result));
    }

    function comparer(index, isAscending) {
        let getCellValue = (row, idx) => row.children[idx].innerText || row.children[idx].textContent;
        let isNumber = (val) => val !== '' && !isNaN(val);
        return function (a, b) {
            let valA = getCellValue(isAscending ? a : b, index), valB = getCellValue(isAscending ? b : a, index);
            return isNumber(valA) && isNumber(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }

    function calculateGap() {
        let leaderscore = tableBody.querySelector("td[data-field='pointsTotal']").innerText;
        $("#results tbody tr").each(function (index, row) {
            let score = row.querySelector("td[data-field='pointsTotal']").innerText;
            if (score != "DNF" && score != "DSQ") {
                let gap = "+" + ((leaderscore - score) * 0.27).toFixed(2);
                if (gap == "+0.00") {
                    gap = "Leader";
                }
                gap = "<i>" + gap + "</i>"
                row.querySelector("td[data-field='dnfCause']").innerHTML = gap;
            }
        });
    }

    $(".result-click").click(function () {
        var row = $(this).closest("tr");
        var position = row.find("td[data-field='position']").text();
        var name = row.find("td[data-field='driverName']").text();
        var number = row.find("td[data-field='driverNumber']").text();
        var team = row.find("td[data-field='fullTeamName']").text();
        var tla = row.find("td[data-field='abbreviation']").text();
        var colour = row.find("td[data-field='teamName']").find("span").css("background-color");
        var dnf = row.find("td[data-field='dnfCause']").text();

        if (name == $('#name').text()) {
            colour = row.find("td[data-field='teamName']").find("span").css("color");
        }

        $('#position').text(position);
        $('#name').text(name);
        $('#tla').text(tla);
        $('#team').text(team);
        $('#number').text(number);
        $('#divider').css('background-color', colour);
        $('#extra').css('color', colour);
        if (dnf !== "-") {
            $('#position').removeClass('eliminated');
        } else {
            $('#position').removeClass('eliminated');
        }
        takeScreenshot("#formulaGraphic", "#resultScreenshot");
    });

    function drawRaceChart(res) {
        var ctx = document.getElementById('raceChart');
        ctx.height = 250;
        ctx.getContext('2d');
        var driversets = [];
        var stints = progress;

        $(res).each(function (driverKey, driverValue) {
            var stintresults = [];
            let total = 0;
            stintresults.push(driverValue.Grid);
            for (i = 0; i <= stints; i++) {
                stintresults.push(0);
            }
            for (var key in driverValue.StintResults) {
                if (!driverValue.StintResults.hasOwnProperty(key)) continue;
                var obj = driverValue.StintResults[key];
                if (obj == null) {
                    obj = 0;
                    total = 0;
                }
                total = total + obj;
                stintresults[key] = total;
            }
            var driverDataset = {
                label: driverValue.SeasonDriver.Driver.Name,
                backgroundColor: driverValue.SeasonDriver.SeasonTeam.Accent,
                borderColor: driverValue.SeasonDriver.SeasonTeam.Colour,
                data: stintresults,
                fill: false,
                teamName: driverValue.SeasonDriver.SeasonTeam.Team.Name
            };
            if (driversets.some(d => d.backgroundColor === driverValue.SeasonDriver.SeasonTeam.Accent && d.borderColor === driverValue.SeasonDriver.SeasonTeam.Colour)) {
                driverDataset.borderDash = [5, 5];
            }
            driversets.push(driverDataset);
        });

        for (i = 0; i <= stints; i++) {
            if (i === 0) continue;
            driversets.sort(function (a, b) {
                return (a.data[i] != null) - (b.data[i] != null) || b.data[i] - a.data[i];
            });
            let position = 1;
            driversets.forEach(function (result) {
                result.data[i] = position;
                position = position + 1;
            });
        }

        driversets.sort((a, b) => (a.teamName > b.teamName) ? 1 : -1);
        var stintlabels = [];

        for (i = 0; i <= stints; i++) {
            var stringstint = i;
            stintlabels.push(stringstint);
        }

        Chart.pluginService.register({
            beforeDraw: function (chart, easing) {
            if (chart.config.options.chartCanvas && chart.config.options.chartCanvas.backgroundColor) {
                var ctx = chart.chart.ctx;

                ctx.save();
                ctx.fillStyle = chart.config.options.chartCanvas.backgroundColor;
                ctx.fillRect(0, 0, chart.chart.width, chart.chart.height);
                ctx.restore();
                }
            }
        });

        let chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: stintlabels,
                datasets: driversets
            },
            options: {
                title: {
                    display: true,
                    text: '@Model.Track.Name',
                    fontColor: '#e6e6e6'
                },
                tooltips: {
                    //enabled: false
                },
                hover: {
                    //mode: null
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Stints',
                            fontColor: '#e6e6e6'
                        },
                        ticks: {
                            fontColor: '#e6e6e6'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Position',
                            fontColor: '#e6e6e6'
                        },
                        ticks: {
                            reverse: true,
                            min: 1,
                            max: @countdrivers,
                            fontColor: '#e6e6e6'
                        },
                        position: 'left'
                    }, {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Position',
                            fontColor: '#e6e6e6'
                        },
                        ticks: {
                            reverse: true,
                            min: 1,
                            max: @countdrivers,
                            fontColor: '#e6e6e6'
                        },
                        position: 'right'
                        }]
                },
                elements: {
                    line: {
                        tension: 0
                    }
                },
                legend: {
                    labels: {
                        boxWidth: 28,
                        fontSize: 13,
                        fontColor: '#e6e6e6'
                    }
                },
                chartCanvas: {
                    backgroundColor: 'rgba(38, 38, 38, 1)'
                }
            }
        });

        let legends = chart.legend.legendItems;
            legends.forEach(function (e) {
                [e.fillStyle, e.strokeStyle] = [e.strokeStyle, e.fillStyle];
            });
    }

    function getCurrentResults() {
        fetch("/Season/@Model.SeasonId/Races/@Model.RaceId/getResults", { method: "POST" })
            .then(response => response.json())
            .then(result => drawRaceChart(result));
    }

    function redrawChart() {
        $("canvas#raceChart").remove();
        $("#raceChartWrap").append("<canvas id='raceChart'></canvas>");
        getCurrentResults();
    }
</script>

<style>
    #weather {
        margin-right: 27px;
        margin-top: 15px;
    }

    #formulaGraphic {
        margin-top: 50px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        border-bottom-right-radius: 15px;
        width: 890px;
        height: 105px;
        font-family: "Formula1 Display";
        text-align: left;
    }

        #formulaGraphic #position {
            background-color: white;
            color: black;
            width: 91px;
            height: 91px;
            margin: 7px;
            margin-right: 0;
            line-height: 91px;
            vertical-align: middle;
            text-align: center;
            font-size: 48px;
            border-bottom-right-radius: 15px;
        }

        #formulaGraphic #divider {
            background-color: #28E8EE;
            width: 9px;
            margin: 17px 12px;
        }

        #formulaGraphic #details {
            margin-top: 17px;
            margin-bottom: 17px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

            #formulaGraphic #details #name {
                font-size: 2.5em;
                margin-top: -18px;
                font-family: "Formula1 Display";
            }

            #formulaGraphic #details #team {
                margin-top: auto;
                margin-bottom: -5px;
                font-size: 28px;
            }

        #formulaGraphic #extra {
            margin-top: 5px;
            margin-bottom: 10px;
            color: #28E8EE;
            text-align: center;
            margin-right: 30px;
        }

            #formulaGraphic #extra #number {
                font-size: 3em;
                margin-top: -10px;
            }

            #formulaGraphic #extra #tla {
                font-size: 1.5em;
            }

    #resultScreenshot {
        margin-top: 20px;
    }

        #resultScreenshot canvas:hover {
            cursor: pointer;
        }

    .eliminated {
        background-color: #870019 !important;
        color: white !important;
    }
</style>