@model FormuleCirkelEntity.Models.Race

@{
    ViewData["Title"] = "Preview";
    int minRNGMod = 0;
    int maxRNGMod = 0;
    List<TrackTrait> trackTraits = ViewBag.tracktraits;
}

<div class="d-inline-block">
    <div id="graphic">
        <h1>Preview of the @Html.DisplayFor(model => model.Name) GP</h1>

        <div class="mt-4">
            <dl class="flex-row text-left">
                <dt class="col-3">
                    Round:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Round)
                </dd>
                <dt class="col-3">
                    Location:
                </dt>
                <dd class="col-3">
                    @(Html.DisplayFor(model => model.Track.Location))
                </dd>
                <dt class="col-3">
                    Track:
                </dt>
                <dd class="col-3">
                    <span class="flag flag-@(Html.DisplayFor(model => model.Track.Country)) ff-md flag-margin"></span>
                    @Html.DisplayFor(model => model.Track.Name)
                </dd>
                <dt class="col-3">
                    Length:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Track.LengthKM)
                </dd>
                <dt class="col-3">
                    Specification:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Track.Specification)
                </dd>
                <dt class="col-3">
                    Weather:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Weather)
                    <span><i id="weather"></i></span>
                </dd>
            </dl>

            <h4 class="text-left">Traits</h4>
            <ul class="text-left" style="line-height: 150%;">
                @foreach (var trait in trackTraits)
                {
                    <li><b>@trait.Trait.Name:</b>  @trait.Trait.TraitDescription</li>
                    if (trait.Trait.MinimumRNG.HasValue) { minRNGMod += trait.Trait.MinimumRNG.Value; }
                    if (trait.Trait.MaximumRNG.HasValue) { maxRNGMod += trait.Trait.MaximumRNG.Value; }
                }
            </ul>
        </div>

        <table class="ctable fullborder fullwidth table-prev">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Driver</th>
                    <th class="tcc-crew"><span>Chassis</span></th>
                    <th class="tcc-chassis"><span>Engine</span></th>
                    <th>Qualy bonus</th>
                    <th>Reliability</th>
                    <th>RNG min.</th>
                    <th>RNG max.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stint in Model.Stints)
                {
                <tr>
                    <td class="alt-font">@stint.Number</td>
                    @if (stint.ApplyDriverLevel)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyChassisLevel)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyEngineLevel)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyQualifyingBonus)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyReliability)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@(stint.RNGMinimum + minRNGMod)</td>
                    <td>@(stint.RNGMaximum + maxRNGMod)</td>
                </tr>
                }
            </tbody>
        </table>
        <table class="ctable fullborder fullwidth">
            <thead>
                <tr class="fullborder">
                    <th>Team Principal</th>
                    <th>Most competive teams</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in ViewBag.favourites)
                {
                    <tr>
                        <td style="background-color:@(team.Colour);color:@(team.Accent);">@(team.Principal)</td>
                        <td style="background-color:@(team.Colour);color:@(team.Accent);">@(team.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="flex-row justify-content-between">
        <form asp-action="RacePreview">
            <div class="form-group">
                <input asp-action="RaceStart" asp-route-id="@Model.SeasonId" asp-route-raceId="@Model.RaceId" type="submit" value="Raceweekend" class="btn" />
            </div>
        </form>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>
    </div>

    <div id="screenshot"></div>

    @Html.Raw(TempData["msg"])
</div>

<script>
    $(function () {
        var weatherclass = "";
        switch ("@Model.Weather") {
            case "Sunny":
                weatherclass = "fas fa-sun";
                break;
            case "Overcast":
                weatherclass = "fas fa-cloud";
                break;
            case "Rain":
                weatherclass = "fas fa-cloud-rain";
                break;
            case "Storm":
                weatherclass = "fas fa-cloud-moon-rain";
                break;
        }
        $("#weather").addClass(weatherclass);
    });
</script>