@model Race
@{
    ViewData["Title"] = "Race";
}

<section class="row my-1">
    <header>
        <h1>Race: @Model.Track.Name</h1>
    </header>
</section>

<section class="row btn-group my-1">
    <a class="btn btn-primary" onclick="advanceStint()">Volgende stint</a>
</section>

<section class="row my-1">
    <table id="results" class="table table-striped">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Naam</th>
                <th>Team</th>
                @foreach (var stint in Model.Stints)
                {
                    <th>@stint.Key</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var driverResult in Model.DriverResults)
            {
                <tr data-obj-id="@driverResult.SeasonDriverId">
                    <td data-field="driverNumber">@driverResult.SeasonDriver.Driver.DriverNumber</td>
                    <td data-field="driverName">@driverResult.SeasonDriver.Driver.Name</td>
                    <td data-field="teamName">@driverResult.SeasonDriver.SeasonTeam.Team.Name</td>
                    @foreach (var stint in Model.Stints)
                    {
                        var stintResult = driverResult.StintResults.SingleOrDefault(res => res.Key == stint.Key);
                        if (stintResult.Equals(default(KeyValuePair<int, int>)))
                        {
                            stintResult = new KeyValuePair<int, int>(stint.Key, int.MinValue);
                        }
                        <td data-field="stintResult-@stintResult.Key">@(stintResult.Value == int.MinValue ? "-" : stintResult.Value.ToString())</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</section>

<script>

    var intMin = -2147483648;
    function processStintResponse(res) {
        var tableBody = $("#results").children("tbody");
        $.each(res.DriverResults, function (resultIndex, driverResult) {
            var row = tableBody.children("tr[data-obj-id=" + driverResult.SeasonDriverId + "]");
            $.each(driverResult.StintResults, function (stintKey, stintResult) {
                var result = stintResult == -2147483648 ? "-" : stintResult;
                row.children("td[data-field=stintResult-" + stintKey + "]").html(result);
            });
        });
    }

    function advanceStint() {
        $.ajax({
            url: "/Season/@Model.SeasonId/Races/@Model.RaceId/Advance",
            type: "POST",
            success: processStintResponse
        });
    }
</script>