
@{
    ViewData["Title"] = "Race";
}

<section class="row my-1">
    <header>
        <h1>Race: @Model.Track.Name</h1>
    </header>
</section>

<section class="row btn-group my-1">
    <a asp-action="Qualifying" asp-route-id="@Model.SeasonId" asp-route-raceId="@Model.RaceId" class="btn btn-primary">Kwalificatie</a>
    <a class="btn btn-primary" onclick="advanceStint()">Kwalificatie</a>
</section>

<section class="row my-1">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Naam</th>
                <th>Team</th>
                @foreach (var stint in Model.Stints)
                {
                    <th>@stint.Key</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var driverResult in Model.DriverResults)
            {
            <tr>
                <td>@driverResult.SeasonDriver.Driver.DriverNumber</td>
                <td>@driverResult.SeasonDriver.Driver.Name</td>
                <td>@driverResult.SeasonDriver.SeasonTeam.Team.Name</td>

                @foreach (var stintResult in driverResult.StintResults)
                {
                    if (stintResult.Value == int.MinValue)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@stintResult.Value</td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</section>

<script>
    function advanceStint() {
        $.ajax({
            url: "/Season/@Model.SeasonId/Races/@Model.RaceId/Advance",
            type: "POST"
        });
    }
</script>