@model FormuleCirkelEntity.ViewModels.RaceWeekendModel

@{
    ViewData["Title"] = "RaceWeekend";
}

<div class="d-inline-block">
    <div id="graphic">
        <h1>@Model.Year @Model.Race.Name Grand Prix</h1>
        <table class="ctable fullborder fullwidth">
            <thead class="fullborder">
                <tr>
                    <td>#</td>
                    <td>Nr.</td>
                    <td>Driver</td>
                    <td>Team</td>
                    <td>Tire</td>
                    <td>Penalty</td>
                    <td>Driver traits</td>
                    <td>Team traits</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var driver in Model.DriverResults.OrderBy(dr => dr.Grid).ToList())
                {
                    <tr>
                        <td><b class="alt-font">@driver.Grid</b></td>
                        <td>
                            <span class="badge badge-team fullwidth font-size-default"
                                  style="background-color:@(driver.SeasonDriver.SeasonTeam.Colour);color:@(driver.SeasonDriver.SeasonTeam.Accent);border-color:@(driver.SeasonDriver.SeasonTeam.Accent);">
                                @driver.SeasonDriver.Driver.DriverNumber
                            </span>
                        </td>
                        <td class="text-left"><span class="ml-cel"><span class="flag flag-@(driver.SeasonDriver.Driver.Country) ff-md flag-margin"></span>@driver.SeasonDriver.Driver.Name</span></td>
                        <td>
                            <span class="badge badge-team text-left fullwidth font-size-default"
                                  style="background-color:@(driver.SeasonDriver.SeasonTeam.Colour);color:@(driver.SeasonDriver.SeasonTeam.Accent);border-color:@(driver.SeasonDriver.SeasonTeam.Accent);">
                                <span class="flag flag-@(driver.SeasonDriver.SeasonTeam.Team.Country) ff-md flag-margin"></span>@driver.SeasonDriver.SeasonTeam.Name
                            </span>
                        </td>
                        <td>
                            <span class="badge tire font-size-default">@(driver.SeasonDriver.Tires.ToString()[0])</span>
                        </td>
                        @if (driver.PenaltyReason == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td><span class="badge badge-dsq fullwidth">@(driver.PenaltyReason)</span></td>
                        }
                        <td>
                            @foreach (var trait in driver.SeasonDriver.Driver.DriverTraits)
                            {
                                <b class="alt-font small">[@trait.Trait.Name]</b>
                            }
                        </td>
                        <td>
                            @foreach (var trait in driver.SeasonDriver.SeasonTeam.Team.TeamTraits)
                            {
                                <b class="alt-font small">[@trait.Trait.Name]</b>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="flex-row mb-1">
        @if (Model.Race.RaceState == RaceState.Race || Model.Race.RaceState == RaceState.Finished || Model.Race.Season.State == SeasonState.Finished)
        {
            <a asp-action="Race" asp-route-id="@Model.Race.SeasonId" asp-route-raceId="@Model.Race.RaceId" class="btn w-25">Race</a>
        } else if (Model.Race.RaceState == RaceState.Concept || Model.Race.RaceState == RaceState.Qualifying)
        {
            <a asp-action="Qualifying" asp-route-id="@Model.Race.SeasonId" asp-route-raceId="@Model.Race.RaceId" class="btn w-25">Qualifying</a>
        }
        <button class="btn ml-auto" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>
    </div>

    <div id="screenshot"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(".tire:contains('H')").css("background-color", "darkorange");
        $(".tire:contains('S')").css("background-color", "darkred");
    });
</script>