@model FormuleCirkelEntity.ViewModels.RacePreviewModel

@{
    ViewData["Title"] = "Preview";
    int minRNGMod = 0;
    int maxRNGMod = 0;
}

<div class="d-inline-block">
    <div id="graphic">
        <h1>Preview of the @Html.DisplayFor(model => model.Race.Name) GP</h1>

        <div class="mt-4">
            <dl class="flex-row text-left">
                <dt class="col-3">
                    Round:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Race.Round)
                </dd>
                <dt class="col-3">
                    Location:
                </dt>
                <dd class="col-3">
                    @(Html.DisplayFor(model => model.Track.Location))
                </dd>
                <dt class="col-3">
                    Track:
                </dt>
                <dd class="col-3">
                    <span class="flag flag-@(Html.DisplayFor(model => model.Track.Country)) ff-md flag-margin"></span>
                    @Html.DisplayFor(model => model.Track.Name)
                </dd>
                <dt class="col-3">
                    Length:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Track.LengthKM)
                </dd>
                <dt class="col-3">
                    Specification:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Track.Specification)
                </dd>
                <dt class="col-3">
                    Weather:
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Race.Weather)
                    <span><i id="weather"></i></span>
                </dd>
            </dl>
            <div class="flex-row">
                <div class="col-9">
                    <h4 class="text-left">Traits</h4>
                    <ul class="text-left" style="line-height: 150%;">
                        @foreach (var trait in Model.TrackTraits)
                        {
                            <li><b>@trait.Name:</b>  @trait.TraitDescription</li>
                            if (trait.MinimumRNG.HasValue) { minRNGMod += trait.MinimumRNG.Value; }
                            if (trait.MaximumRNG.HasValue) { maxRNGMod += trait.MaximumRNG.Value; }
                        }
                    </ul>
                </div>
                <div class="col-3">
                    <div class="float-right">
                        <h4 class="text-left">Strategies</h4>
                        <ul class="text-left" style="line-height: 150%;">
                            @foreach (var strategy in Model.Strategies)
                            {
                                <li>
                                    @foreach (var tyre in strategy.Tyres)
                                    {
                                        <span class="custom-badge" style="background-color:@(tyre.Tyre.TyreColour)">
                                            @(tyre.Tyre.TyreName)
                                        </span>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <table class="ctable fullborder fullwidth table-prev">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Driver</th>
                    <th class="tcc-crew"><span>Chassis</span></th>
                    <th class="tcc-chassis"><span>Engine</span></th>
                    <th>Qualy bonus</th>
                    <th>Reliability</th>
                    <th>RNG min.</th>
                    <th>RNG max.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stint in Model.Race.Stints)
                {
                <tr>
                    <td class="alt-font">@stint.Number</td>
                    @if (stint.ApplyDriverLevel)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyChassisLevel)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyEngineLevel)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyQualifyingBonus)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (stint.ApplyReliability)
                    {
                        <td class="result-points">✓</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@(stint.RNGMinimum + minRNGMod)</td>
                    <td>@(stint.RNGMaximum + maxRNGMod)</td>
                </tr>
                }
            </tbody>
        </table>
        <table class="ctable fullborder fullwidth">
            <thead>
                <tr class="fullborder">
                    <th>Team Principal</th>
                    <th>Most competive teams</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model.Favourites)
                {
                    <tr>
                        <td style="background-color:@(team.Colour);color:@(team.Accent);">@(team.Principal)</td>
                        <td style="background-color:@(team.Colour);color:@(team.Accent);">@(team.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="flex-row justify-content-between">
        <form asp-action="RacePreview">
            <div class="form-group">
                <input asp-action="RaceStart" asp-route-id="@Model.Race.SeasonId" asp-route-raceId="@Model.Race.RaceId" type="submit" value="Raceweekend" class="btn" />
            </div>
        </form>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipImageBtn">
            <i class="fas fa-image fa-2x"></i>
        </button>
    </div>

    <div id="screenshot"></div>
</div>

<script>
    $(function () {
        var weatherclass = "";
        switch ("@Model.Race.Weather") {
            case "Sunny":
                weatherclass = "fas fa-sun";
                break;
            case "Overcast":
                weatherclass = "fas fa-cloud";
                break;
            case "Rain":
                weatherclass = "fas fa-cloud-rain";
                break;
            case "Storm":
                weatherclass = "fas fa-cloud-moon-rain";
                break;
        }
        $("#weather").addClass(weatherclass);
    });
</script>