@model FormuleCirkelEntity.Models.Race

@{
    ViewData["Title"] = "RaceWeekend";
}

<h1>@Model.Name</h1>

<section class="row my-1">
    <div>
        <h5>Deelnemers</h5>
        <table id="graphic" class="table table-sm">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Driver</td>
                    <td>Nr.</td>
                    <td>Team</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var driver in Model.DriverResults.OrderBy(dr => dr.Grid).Select(dr => dr.SeasonDriver))
                {
                    <tr>
                        <td>@Model.DriverResults.SingleOrDefault(dr => dr.SeasonDriver == driver).Grid</td>
                        <td>@driver.Driver.Name</td>
                        <td><span class="badge">@driver.Driver.DriverNumber</span></td>
                        <td><span class="badge" style="background-color:@(driver.SeasonTeam.Team.Colour);color:@(driver.SeasonTeam.Team.Accent);font-size:1rem;">@driver.SeasonTeam.Team.Name</span></td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.DriverResults.Select(dr => dr.Grid).FirstOrDefault() == 0)
        {
            <a asp-action="Qualifying" asp-route-id="@Model.SeasonId" asp-route-raceId="@Model.RaceId" class="btn btn-dark">Kwalificatie</a>
        }

        <button class="btn badge-dark float-right" onclick="takeScreenshot()"><i class="fas fa-image fa-lg"></i></button>
    </div>
</section>

<section class="row my-1">
    <div>
        <h5>Race!</h5>
        @if (Model.DriverResults.Select(dr => dr.Grid).FirstOrDefault() != 0)
        {
            <a asp-action="Race" asp-route-id="@Model.SeasonId" asp-route-raceId="@Model.RaceId" class="btn btn-dark">Start!</a>
        }
    </div>
</section>

<section class="row my-1">
    <div>
        <h5>Circuit informatie</h5>
        <dl>
            <dt>Lengte</dt>
            <dd>@Model.Track.LengthKM KM</dd>
            <dt>Weer</dt>
            <dd>Droog</dd>
            <dt>Vorige winnaar</dt>
            <dd>@(Model.Track.MostRecentWinner?.Name ?? "-")</dd>
        </dl>
    </div>
</section>

<hr />
<section class="row my-1">
    <div id="screenshot"></div>
</section>

<script>
    function takeScreenshot() {
        html2canvas(document.querySelector('#graphic')).then(function (canvas) {
            $('#screenshot').empty();
            document.querySelector('#screenshot').appendChild(canvas);
        });
    }
</script>
