@model IEnumerable<FormuleCirkelEntity.Models.Track>

@{
    ViewData["Title"] = "ArchivedTracks";
}

<h1>ArchivedTracks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNFodds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNGodds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNFodds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNGodds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
