@model IEnumerable<FormuleCirkelEntity.Models.Track>

@{
    ViewData["Title"] = "ArchivedTracks";
    bool isAdmin = this.User.IsInRole(Constants.RoleAdmin);
}

<div class="d-inline-block">
    <h1>Archived Tracks</h1>

    <table class="ctable fullborder fullwidth min-width-index-table">
        <thead class="fullborder">
            <tr>
                <th class="text-left pl-25">
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specification)
                </th>
                <th>Revert</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-left">
                    <span class="flag flag-@(Html.DisplayFor(modelItem => item.Country)) flag-margin ml-cel"></span>@Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specification)
                </td>
                @if (isAdmin)
                {
                    <td>
                        <a class="btn" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-undo fa-2x"></i>
                        </a>
                    </td>
                } else { <td></td> }
            </tr>
            }
        </tbody>
    </table>

    <div class="float-left">
        <a asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
    </div>
</div>
