@model IEnumerable<FormuleCirkelEntity.Models.Track>

@{
    ViewData["Title"] = "Circuits";
}

<h1>Circuits</h1>

<p>
    <a asp-action="Create">
        <i class="fas fa-plus-square fa-2x"></i>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Locatie
            </th>
            <th>
                DNF
            </th>
            <th>
                RNG
            </th>
            <th>
                Specificatie
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNFodds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RNGodds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specification)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrackId">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.TrackId">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
