@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<FormuleCirkelEntity.Models.Track>

@{
    ViewData["Title"] = "Circuits";
}

<h1>Circuits</h1>
<div>
    <a asp-action="Create">
        <i class="fas fa-plus-square fa-2x"></i>
    </a>
    <a class="btn btn-dark float-right" asp-action="ArchivedTracks">Archive</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Locatie
            </th>
            <th>
                DNF
            </th>
            <th>
                RNG
            </th>
            <th>
                Specificatie
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.OnePage)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @item.DNFodds
                </td>
                <td>
                    @item.RNGodds
                </td>
                <td>
                    @item.Specification
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrackId">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.TrackId">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })