@model IEnumerable<FormuleCirkelEntity.Models.Track>

@{
    ViewData["Title"] = "Circuits";
}

<h1>Circuits</h1>

<p>
    <a asp-action="Create">Toevoegen</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Locatie
            </th>
            <th>
                DNF
            </th>
            <th>
                RNG
            </th>
            <th>
                Specificatie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNFodds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNGodds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackId">Aanpassen</a> |
                <a asp-action="Delete" asp-route-id="@item.TrackId">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>