@model FormuleCirkelEntity.ViewModels.SetDevModel

@{
    ViewData["Title"] = "Dev Ranges";
}

<div class="d-inline-block">
    <partial name="_StatusMessage" model="ViewBag.statusmessage" />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(c => c.ChampionshipId, new { style = "display: none;" })
        </div>
        <div class="col">
            <div class="col-10">
                <button type="button" id="addskill" class="btn float-left">Add</button>
                <table class="ctable fullborder fullwidth">
                    <thead class="fullborder">
                        <tr>
                            <th>Skill lower than</th>
                            <th>Minimum dev</th>
                            <th>Maximum dev</th>
                        </tr>
                    </thead>
                    <tbody id="skillDevRange">
                        @for (int i = 0; i < Model.SkillValueKey.Count; i++)
                        {
                            @if (Model.SkillValueKey[i] != 9999)
                            {
                                <tr>
                                    <td><input name="SkillValueKey" type="number" value="@Model.SkillValueKey[i]" class="form-control" /></td>
                                    <td><input name="SkillMinDev" type="number" value="@Model.SkillMinDev[i]" class="form-control" /></td>
                                    <td><input name="SkillMaxDev" type="number" value="@Model.SkillMaxDev[i]" class="form-control" /></td>
                                    <td><button type="button" class="btn fullwidth delete">Delete</button></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><input name="SkillValueKey" type="number" value="@Model.SkillValueKey[i]" class="form-control" readonly /></td>
                                    <td><input name="SkillMinDev" type="number" value="@Model.SkillMinDev[i]" class="form-control" /></td>
                                    <td><input name="SkillMaxDev" type="number" value="@Model.SkillMaxDev[i]" class="form-control" /></td>
                                    <td>Required</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-10">
                <button type="button" id="addage" class="btn float-left">Add</button>
                <table class="ctable fullborder fullwidth">
                    <thead class="fullborder">
                        <tr>
                            <th>Age lower than</th>
                            <th>Minimum dev</th>
                            <th>Maximum dev</th>
                        </tr>
                    </thead>
                    <tbody id="ageDevRange">
                        @for (int i = 0; i < Model.AgeValueKey.Count; i++)
                        {
                            @if (Model.AgeValueKey[i] != 9999)
                            {
                                <tr>
                                    <td><input name="AgeValueKey" type="number" value="@Model.AgeValueKey[i]" class="form-control" /></td>
                                    <td><input name="AgeMinDev" type="number" value="@Model.AgeMinDev[i]" class="form-control" /></td>
                                    <td><input name="AgeMaxDev" type="number" value="@Model.AgeMaxDev[i]" class="form-control" /></td>
                                    <td><button type="button" class="btn fullwidth delete">Delete</button></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><input name="AgeValueKey" type="number" value="@Model.AgeValueKey[i]" class="form-control" readonly/></td>
                                    <td><input name="AgeMinDev" type="number" value="@Model.AgeMinDev[i]" class="form-control" /></td>
                                    <td><input name="AgeMaxDev" type="number" value="@Model.AgeMaxDev[i]" class="form-control" /></td>
                                    <td>Required</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn mt-2">Save</button>
        </div>
    }
    <div class="flex-row justify-content-between">
        <a class="btn" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
        <a asp-controller="MinMaxDevRanges" asp-action="Index" class="btn">
            MinMax
        </a>
    </div>
</div>

<div>
    <table id="newskill" style="display:none;">
        <tr>
            <td><input name="SkillValueKey" type="number" class="form-control" /></td>
            <td><input name="SkillMinDev" type="number" class="form-control" /></td>
            <td><input name="SkillMaxDev" type="number" class="form-control" /></td>
            <td><button type="button" class="btn fullwidth delete">Delete</button></td>
        </tr>
    </table>
    <table id="newmaxskill" style="display:none;">
        <tr>
            <td><input name="SkillValueKey" type="number" value="9999" class="form-control" readonly /></td>
            <td><input name="SkillMinDev" type="number" class="form-control" /></td>
            <td><input name="SkillMaxDev" type="number" class="form-control" /></td>
            <td>Required</td>
        </tr>
    </table>
    <table id="newage" style="display:none;">
        <tr>
            <td><input name="AgeValueKey" type="number" class="form-control" /></td>
            <td><input name="AgeMinDev" type="number" class="form-control" /></td>
            <td><input name="AgeMaxDev" type="number" class="form-control" /></td>
            <td><button type="button" class="btn fullwidth delete">Delete</button></td>
        </tr>
    </table>
    <table id="newmaxage" style="display:none;">
        <tr>
            <td><input name="AgeValueKey" type="number" value="9999" class="form-control" readonly /></td>
            <td><input name="AgeMinDev" type="number" class="form-control" /></td>
            <td><input name="AgeMaxDev" type="number" class="form-control" /></td>
            <td>Required</td>
        </tr>
    </table>
</div>

<script>
    var newskill = $("#newskill");
    var newage = $("#newage");

    $("#addskill").click(function () {
        if ($("#skillDevRange").children().length == 0) {
            var skillclone = $("#newmaxskill").find('tr').clone();
            $("#skillDevRange").append(skillclone);
        }
        else {
            var skillclone = newskill.find('tr').clone();
            $("#skillDevRange tr:last").before(skillclone);
        }
    });

    $("#addage").click(function () {
        if ($("#ageDevRange").children().length == 0) {
            var ageclone = $("#newmaxage").find('tr').clone();
            $("#ageDevRange").append(ageclone);
        }
        else {
            var ageclone = newage.find('tr').clone();
            $("#ageDevRange tr:last").before(ageclone);
        }
    });

    $('#skillDevRange').on('click', '.delete', function () {
        $(this).closest('tr').remove();
    });

    $('#ageDevRange').on('click', '.delete', function () {
        $(this).closest('tr').remove();
    });
</script>