<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Formula Sim</title>

    <environment exclude="Development">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link id="theme" rel="stylesheet" href="~/css/themeDark.css" />

    
</head>

<body class="primary">
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd">
        </script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="~/lib/html2canvas.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        if ($.cookie('theme-cookie')) {
            $('#theme').attr('href', $.cookie('theme-cookie'));
        }
    </script>

    @RenderSection("Scripts", required: false)

    <header>
        <partial name="_MenuPartial" />
    </header>

    <partial name="_CookieConsentPartial" />
    <main role="main" class="m-sides">
        @RenderBody()
    </main>

    <footer class="secondary upperline">
        <div class="m-sides text-muted">
            &copy; 2020 - Haan#0420
            <div class="theme-buttons">
                <a id="lighttheme" class="theme-button">☀️</a>
                <a id="darktheme" class="theme-button">🌑</a>
                <a id="synththeme" class="theme-button">🕶</a>
                <a id="yoshitheme" class="theme-button">🐲</a>
                <a id="marbulatheme" class="theme-button">🔮</a>
            </div>
        </div>
    </footer>
</body>
</html>

<script>
    $(function () {
        $("#darktheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeDark.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeDark.css")");
        });
        $("#synththeme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeSynth.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeSynth.css")");
        });
        $("#lighttheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeLight.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeLight.css")");
        });
        $("#yoshitheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeYoshiWTCC.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeYoshiWTCC.css")");
        });
        $("#marbulatheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeMarbula.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeMarbula.css")");
        });
    });
</script>