<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formula Sim - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />

    <link rel="stylesheet" href="~/lib/nouislider/dist/nouislider.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/images/flags/freakflags.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css//navigation.css" />
    <link id="theme" rel="stylesheet" href="~/css/themeDark.css" />

    <script src="~/lib/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body class="body-wrapper primary">
    @(await Html.PartialAsync("_Navigation"))

    <partial name="_CookieConsentPartial" />
    <main class="page-content" role="main">
        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script src="~/lib/chart.js/dist/chart.min.js"></script>
    <script src="~/lib/html2canvas.min.js"></script>
    <script src="~/lib/handlebars-v4.7.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/lib/nouislider/dist/nouislider.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    if ($.cookie('theme-cookie')) {
        $('#theme').attr('href', $.cookie('theme-cookie'));
    }
</script>

<script>
    $(function () {
        $("#darktheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeDark.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeDark.css")");
        });
        $("#synththeme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeSynth.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeSynth.css")");
        });
        $("#lighttheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeLight.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeLight.css")");
        });
        $("#bluetheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeBlueAlt.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeBlueAlt.css")");
        });
        $("#ferraritheme").click(function () {
            $("link#theme").attr("href", "@Url.Content("~/css/themeFerrari.css")");
            $.cookie('theme-cookie', "@Url.Content("~/css/themeFerrari.css")");
        });
    });
</script>