@model IEnumerable<FormuleCirkelEntity.Models.Driver>
@{ViewData["Title"] = "Coureurs toevoegen";}

<section>
    <header>
        <h3>Seizoen @ViewBag.seasonId - Coureurs toevoegen</h3>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Racenummer</th>
                <th>Naam</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DriverNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td><a asp-action="AddDriver" asp-route-id="@ViewBag.seasonId" asp-route-globalDriverId="@item.DriverId" class="btn btn-outline-primary btn-sm">Toevoegen</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Detail" asp-route-id="@ViewBag.seasonId">
        <img src="~/images/icon-back.png" width="30" height="30" title="Back" />
    </a>
</section>