@model IEnumerable<FormuleCirkelEntity.Models.Driver>
@{ViewData["Title"] = "Add drivers";}

<div class="d-inline-block">
    <h3>Unregistered drivers</h3>
    <table class="ctable fullborder min-width-index-table">
        <thead class="fullborder">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DriverNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@(ViewBag.year - item.DateOfBirth.Year)</td>
                    <td><a asp-action="AddDriver" asp-route-id="@ViewBag.seasonId" asp-route-globalDriverId="@item.Id" class="btn btn-outline-primary">Add</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn float-left" asp-action="Detail" asp-route-id="@ViewBag.seasonId">
        <i class="fas fa-arrow-alt-circle-left"></i> Back
    </a>
</div>
