@model FormuleCirkelEntity.Models.SeasonDriver
@{ViewData["Title"] = "Edit driver";}

<section>
    <header>
        <h1 class="row">Season @Model.Season.SeasonNumber</h1>
        <h4 class="row">Driver: @Model.Driver.DriverNumber - @Model.Driver.Name</h4>
    </header>
    <section>
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <div class="form-group">
                            <label asp-for="Skill" class="control-label"></label>
                            <input asp-for="Skill" class="form-control" />
                            <span asp-validation-for="Skill" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tires" class="control-label"></label>
                            <i class="fas fa-info-circle float-right" data-toggle="tooltip" data-placement="right"
                               title="Soft tires get +10 when tyre bonus applies in stint but will get [-20 to 0] RNG when tyre wear applies."></i>
                            @Html.DropDownListFor(model => model.Tires, new SelectList(Enum.GetValues(typeof(Tires))), new { @class = "form-control" })
                            <span asp-validation-for="Tires" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeasonTeamId" class="control-label">Team</label>
                            <select asp-for="SeasonTeamId" class="form-control" asp-items="ViewBag.teams"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="DriverStatus" class="control-label">Status in team</label>
                            <i class="fas fa-info-circle float-right" data-toggle="tooltip" data-placement="right"
                                     title="First drivers swaps positions with their second driver if one position behind. Also gives +2/-2 to chassis."></i>
                            @Html.DropDownListFor(model => model.DriverStatus, new SelectList(Enum.GetValues(typeof(DriverStatus))), new { @class = "form-control" })
                            <span asp-validation-for="DriverStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-dark" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="float-right">
                        <div class="form-group">
                            <h4>Pace</h4>
                        </div>
                        <div class="form-group">
                            <label asp-for="QualyPace" class="control-label">Qualifying pace</label>
                            <i class="fas fa-info-circle float-right" data-toggle="tooltip" data-placement="right"
                               title="Extra value only applied during the qualifications."></i>
                            <input asp-for="QualyPace" class="form-control" />
                            <span asp-validation-for="QualyPace" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RacePace" class="control-label">Race pace</label>
                            <i class="fas fa-info-circle float-right" data-toggle="tooltip" data-placement="right"
                               title="Extra value applied to the driver skill only during races."></i>
                            <input asp-for="RacePace" class="form-control" />
                            <span asp-validation-for="RacePace" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <h4>Modifiers</h4>
                        </div>
                        <div class="form-group">
                            <label asp-for="ChassisMod" class="control-label">Chassis modifier</label>
                            <i class="fas fa-info-circle float-right" data-toggle="tooltip" data-placement="right"
                               title="Extra value to the chassis only applied for this driver."></i>
                            <input asp-for="ChassisMod" class="form-control" />
                            <span asp-validation-for="ChassisMod" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ReliabilityMod" class="control-label">Reliability modifier</label>
                            <i class="fas fa-info-circle float-right" data-toggle="tooltip" data-placement="right"
                               title="Extra value to the reliability of a chassis only applied for this driver."></i>
                            <input asp-for="ReliabilityMod" class="form-control" />
                            <span asp-validation-for="ReliabilityMod" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>
<a asp-action="Detail" asp-route-id="@ViewBag.seasonId">
    <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
</a>