@model IEnumerable<FormuleCirkelEntity.Models.Team>
@{ViewData["Title"] = "Teams toevoegen";}
<section>
    <header>
        <h3>Season @ViewBag.seasonId - Add teams</h3>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Abbreviation)</td>
                    <td><a asp-action="AddTeam" asp-route-id="@ViewBag.seasonId" asp-route-globalTeamId="@item.Id" class="btn btn-outline-primary btn-sm">Add</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Detail" asp-route-id="@ViewBag.seasonId">
        <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
    </a>
</section>