@model IEnumerable<FormuleCirkelEntity.Models.Track>

@{
    ViewData["Title"] = "Races toevoegen";
    int rounds = ViewBag.rounds;
}

<h1>Races toevoegen</h1>
<h4>Huidig aantal toegevoegde rondes: @rounds</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Locatie
            </th>
            <th>
                DNF
            </th>
            <th>
                RNG
            </th>
            <th>
                Specificatie
            </th>
            <th>
                Seizoen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNFodds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNGodds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.ActionLink(
               "Toevoegen",
               "AddRace",
               "Season",
               new {
                   trackid = item.TrackId
               },
               null
               )
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="AddEngines" class="btn btn-secondary">Kalender voltooien!</a>
</div>
