@model FormuleCirkelEntity.ViewModels.DriverDevModel

@{
    ViewData["Title"] = "Driver development";
}

<div class="d-inline-block w-60">
    <h1>Driver development</h1>

    <div class="flex-row justify-content-between mb-1">
        <div>
            <button id="develop" class="btn">Develop</button>
            <button id="rateddevelop" class="btn">Rated dev</button>
            <input id="min" class="input-style fullheight" type="number" placeholder="Min. RNG"/>
            <input id="max" class="input-style fullheight" type="number" placeholder="Max. RNG" />
        </div>
        <button id="showcustom" class="btn">Custom dev</button>
        <button id="custom" class="btn customdev" style="display:none;">Custom</button>
    </div>

    <table id="graphic" class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th class="text-left"><span class="ml-cel">Name</span></th>
                <th>Age</th>
                <th>Team</th>
                <th>Old</th>
                <th>Change</th>
                <th>New</th>
                <th class="w-25 customdev" style="display:none;">Custom</th>
            </tr>
        </thead>
        <tbody id="devtable">
            @{
                int number = 1;
                foreach (var driver in Model.SeasonDrivers)
                {
                    <tr>
                        <td class="text-left"><span class="ml-cel">@driver.Driver.Name</span></td>
                        <td id="driver_age_@number">@(Model.Year - driver.Driver.DateOfBirth.Year)</td>
                        <td>
                            <span class="badge fullwidth font-size-default" style="background-color:@(driver.SeasonTeam.Colour);
                                    color:@(driver.SeasonTeam.Accent);">
                                @driver.SeasonTeam.Name
                            </span>
                        </td>
                        <td id="old-value-@number" class="onclick-hide">@driver.Skill</td>
                        <td id="custom-change-@number">?</td>
                        <td id="custom-new-@number" class="onclick-hide">-</td>
                        <td class="customdev" style="display:none;">
                            <input id="custom-min-@number" class="input-style" type="number" placeholder="Min. RNG" />
                            <input id="custom-max-@number" class="input-style" type="number" placeholder="Max. RNG" />
                        </td>
                        <td id="driver-id-@(number++)" style="display:none;">@(driver.SeasonDriverId)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button id="save" class="btn fullwidth">Save</button>

    <div class="row justify-content-between mb-1">
        <a class="btn" asp-action="Detail" asp-route-id="@Model.SeasonId">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>
    </div>

    <div id="screenshot"></div>
</div>

<script>
    const skillDevRange = @(Json.Serialize(Model.SkillDevRanges))
    const ageDevRange = @(Json.Serialize(Model.AgeDevRanges))
    console.log(skillDevRange);
    console.log(ageDevRange);
    $(document).ready(function () {
        $("#save").hide();

        $('#develop').click(function () {
            var number = 1;
            var min = Math.ceil(document.getElementById("min").value);
            var max = Math.floor(document.getElementById("max").value);
            $('#devtable').children('tr').each(function () {
                var element = document.getElementById("old-value-" + number);
                var text = element.textContent;
                var old = Number(text);
                var dev = Math.floor(Math.random() * (max - min + 1)) + min;
                var newdev = (old + dev);

                document.getElementById("custom-change-" + number).innerText = dev;
                document.getElementById("custom-new-" + number).innerText = newdev;

                number = (number + 1);
            });

            $("#save").show();
        });

        $("#rateddevelop").click(function () {
            var number = 1;
            $('#devtable').children('tr').each(function () {
                var element = document.getElementById("old-value-" + number);
                var text = element.textContent;
                var old = Number(text);
                var age = Number(document.getElementById("driver_age_" + number).textContent);
                var skillEffect = ReturnDevEffect(old, skillDevRange);
                var ageEffect = ReturnDevEffect(age, ageDevRange);
                var min = skillEffect[0] + ageEffect[0];
                var max = skillEffect[1] + ageEffect[1];
                var dev = Math.floor(Math.random() * (max - min + 1)) + min;
                var newdev = (old + dev);

                document.getElementById("custom-change-" + number).innerText = dev;
                document.getElementById("custom-new-" + number).innerText = newdev;

                number = (number + 1);
            });

            $("#save").show();
        });

        function ReturnDevEffect(comparer, range) {
            var min = 0;
            var max = 0;
            $.each(range, function (key, value) {
                if (comparer <= value.valueKey) {
                    min = value.minDev;
                    max = value.maxDev;
                    return false;
                }
            });
            return [min, max];
        }

        $("#showcustom").click(function () {
            var customElems = document.getElementsByClassName("customdev");
            for (var i = 0; i < customElems.length; i++) {
                customElems[i].style.display = "initial";
            }
            $("#showcustom").css('display', 'none');
        });

        $('#custom').click(function () {
            var number = 1;
            $('#devtable').children('tr').each(function () {
                getDev(number);
                number = (number + 1);
            });

            $("#save").show();
        });

        $("#save").click(function () {
            var drivers = new Array();
            var number = 1;
            $("#devtable").children('tr').each(function () {
                var row = $(this);
                var driver = {};
                driver.id = row.find("#driver-id-" + number).html();
                driver.newdev = row.find("#custom-new-" + number).html();
                drivers.push(driver);

                number = (number + 1);
            });

            $.ajax({
                type: "POST",
                url: "/Season/SaveDriverDev",
                headers: {
                    'Accept': 'application/html',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(drivers),
                dataType: "json",
                complete: function (result) {
                    if (result.responseText) {
                        $('head').html(result.responseJSON);
                        $('body').html(result.responseText);
                    }
                }
            });
        });
    });
</script>