@model IEnumerable<FormuleCirkelEntity.Models.SeasonDriver>

@{
    ViewData["Title"] = "Driver development";
    int seasonId = ViewBag.seasonId;
    int year = ViewBag.year;
}

<div class="d-inline-block w-60">
    <h1>Driver reliability</h1>

    <div class="flex-row mb-1">
        <div>
            <button id="develop" class="btn">Develop</button>
            <input id="min" class="input-style fullheight" type="number" placeholder="Min. RNG" />
            <input id="max" class="input-style fullheight" type="number" placeholder="Max. RNG" />
        </div>
    </div>

    <table id="graphic" class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Team</th>
                <th>Old</th>
                <th>Change</th>
                <th>New</th>
            </tr>
        </thead>
        <tbody id="devtable">
            @{
                int number = 1;
                foreach (var driver in Model)
                {
                    <tr>
                        <td class="text-left"><span class="ml-cel">@driver.Driver.Name</span></td>
                        <td>@(year - driver.Driver.DateOfBirth.Year)</td>
                        <td>
                            <span class="badge fullwidth font-size-default" style="background-color:@(driver.SeasonTeam.Colour);
                                    color:@(driver.SeasonTeam.Accent);">
                                @driver.SeasonTeam.Name
                            </span>
                        </td>
                        <td id="old-value-@number">@driver.Reliability</td>
                        <td id="custom-change-@number">?</td>
                        <td id="custom-new-@number">-</td>
                        <td id="driver-id-@(number++)" style="display:none;">@(driver.SeasonDriverId)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button id="save" class="btn fullwidth">Save</button>

    <div class="row justify-content-between">
        <a asp-action="Detail" asp-route-id="@seasonId">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>
    </div>

    <div id="screenshot"></div>
</div>

<script>
    $(document).ready(function () {
        $("#save").hide();

        $('#develop').click(function () {
            var number = 1;
            var min = Math.ceil(document.getElementById("min").value);
            var max = Math.floor(document.getElementById("max").value);
            $('#devtable').children('tr').each(function () {
                var element = document.getElementById("old-value-" + number);
                var text = element.textContent;
                var old = Number(text);
                var dev = Math.floor(Math.random() * (max - min + 1)) + min;
                var newdev = (old + dev);

                document.getElementById("custom-change-" + number).innerText = dev;
                document.getElementById("custom-new-" + number).innerText = newdev;

                number = (number + 1);
            });

            $("#save").show();
        });

        $("#save").click(function () {
            var drivers = new Array();
            var number = 1;
            $("#devtable").children('tr').each(function () {
                var row = $(this);
                var driver = {};
                driver.id = row.find("#driver-id-" + number).html();
                driver.newdev = row.find("#custom-new-" + number).html();
                drivers.push(driver);

                number = (number + 1);
            });

            $.ajax({
                type: "POST",
                url: "/Season/SaveDriverReliabilityDev",
                headers: {
                    'Accept': 'application/html',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(drivers),
                dataType: "json",
                complete: function (result) {
                    if (result.responseText) {
                        $('head').html(result.responseJSON);
                        $('body').html(result.responseText);
                    }
                }
            });
        });
    });
</script>