@model FormuleCirkelEntity.ViewModels.Season.SeasonIndexModel

@{
    bool isAdmin = this.User.IsInRole(Constants.RoleAdmin);
}

<div class="d-inline-block w-75">
    @if (Model.ChampionshipName != null)
    {
        <h1>Seasons in @Model.ChampionshipName</h1>
    }
    else
    {
        <h1>Seasons</h1>
    }
    <div class="flex-row justify-content-between">
        @if (isAdmin)
        {
        <div class="btn-group float-left mb-1">
            <a class="btn fullborder" asp-action="Create">New season</a>
            <a class="btn fullborder" asp-action="CopyLast" asp-route-championshipID="@Model.ChampionshipID" data-toggle="tooltip" data-placement="top" title="@Constants.ToolTipDefaultSeasonBtn">
                <i class="fas fa-recycle"></i> Copy last
            </a>
        </div>
        }
        <div class="dropdown show">
            <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-flag-checkered"></i> Championship
            </a>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                @foreach (var item in Model.AllChampionships)
                {
                    <a class="dropdown-item" asp-action="Index" asp-route-championshipID="@item.Key">@item.Value</a>
                }
            </div>
        </div>
    </div>

    <table id="graphic" class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th>#</th>
                <th>WDC</th>
                <th>WCC</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SeasonIndex)
            {
                <tr>
                    <td><b>@Html.DisplayFor(modelItem => item.SeasonNumber)</b></td>
                    @if (item.HasTop)
                    {
                        <td>
                            <span class="custom-badge badge-team fullwidth text-left mr-2"
                                  style="background-color:@(item.TopDriverTeamColour);color:@(item.TopDriverTeamAccent);border-color:@(item.TopDriverTeamAccent);">
                                <span class="flag flag-@(item.TopDriverCountry) ff-sm flag-margin"></span>@item.TopDriverName
                            </span>
                        </td>
                        <td>
                            <span class="custom-badge badge-team fullwidth text-left ml-1"
                                  style="background-color:@(item.TopTeamColour);color:@(item.TopTeamAccent);border-color:@(item.TopTeamAccent);">
                                <span class="flag flag-@(item.TopTeamCountry) ff-sm flag-margin"></span>@item.TopTeamName
                            </span>
                        </td>
                    }
                    else
                    {
                        <td>X</td>
                        <td>X</td>
                    }
                    <td>
                        <a asp-action="Detail" asp-route-seasonID="@item.SeasonID">
                            <i class="fas fa-forward fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="SeasonStats" asp-route-seasonID="@item.SeasonID">
                            <i class="fas fa-signal fa-2x"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn float-left" onclick="takeScreenshot('#graphic', '.screenshot')" data-toggle="tooltip" data-placement="right" title="@TextResources.TooltipImageButton">
        <i class="fas fa-image fa-2x"></i>
    </button>
    <div class="screenshot"></div>
</div>
