@model IEnumerable<FormuleCirkelEntity.Models.Season>

<section class="row my-1">
    <header>
        <h1>Seizoenen</h1>
    </header>
</section>

<section class="row btn-group my-1">
    <a class="btn btn-dark" asp-action="Create">Nieuw seizoen</a>
</section>

<section class="row my-1">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Coureurleider</th>
                <th>Teamleider</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var topDriver = item.Drivers.OrderByDescending(d => d.Points).FirstOrDefault();
                var topTeam = item.Teams.OrderByDescending(t => t.Points).FirstOrDefault();
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SeasonId)</td>
                    @if(topDriver == null || topTeam == null)
                    {
                        <td>X</td>
                        <td>X</td>
                    } else
                    {
                        <td>@topDriver.Driver.Name</td>
                        <td><span class="badge" style="background-color:@(topTeam.Team.Colour);color:@(topTeam.Team.Accent);font-size:1rem;">@topTeam.Team.Name</span></td>
                    }
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.SeasonId">
                            <i class="fas fa-forward fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="SeasonStats" asp-route-id="@item.SeasonId">
                            <i class="fas fa-signal fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        @if (item.State == SeasonState.Draft)
                        {
                            <a asp-action="Settings" asp-route-id="@item.SeasonId">
                                <i class="fas fa-cog fa-2x"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>