@model IEnumerable<FormuleCirkelEntity.Models.Season>

@{ 
    bool isAdmin = this.User.IsInRole(Constants.RoleAdmin);
}

<div class="d-inline-block w-75">
    <h1>Seasons in @ViewBag.championship</h1>
    <div class="flex-row justify-content-between">
        @if (isAdmin)
        {
            <a class="btn float-left mb-1" asp-action="Create">New season</a>
        }
        <div class="dropdown show">
            <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-flag-checkered"></i> Championship
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var item in ViewBag.champs)
                {
                    <a class="dropdown-item" asp-action="ChampionshipSelect" asp-route-championshipId="@item.ChampionshipId">@item.ChampionshipName</a>
                }
            </div>
        </div>
    </div>

    <table class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th>#</th>
                <th>WDC</th>
                <th>WCC</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var topDriver = item.Drivers.OrderByDescending(d => d.Points).FirstOrDefault();
                var topTeam = item.Teams.OrderByDescending(t => t.Points).FirstOrDefault();
                <tr>
                    <td><b>@Html.DisplayFor(modelItem => item.SeasonNumber)</b></td>
                    @if (topDriver == null || topTeam == null)
                    {
                        <td>X</td>
                        <td>X</td>
                    }
                    else
                    {
                        <td>
                            <span class="badge badge-team fullwidth font-size-default text-left mr-2"
                                  style="background-color:@(topDriver.SeasonTeam.Colour);color:@(topDriver.SeasonTeam.Accent);border-color:@(topDriver.SeasonTeam.Accent);">
                                <span class="flag flag-@(topDriver.Driver.Country) flag-margin"></span>@topDriver.Driver.Name
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-team fullwidth font-size-default text-left ml-1"
                                  style="background-color:@(topTeam.Colour);color:@(topTeam.Accent);border-color:@(topTeam.Accent);">
                                <span class="flag flag-@(topTeam.Team.Country) flag-margin"></span>@topTeam.Name
                            </span>
                        </td>
                    }
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.SeasonId">
                            <i class="fas fa-forward fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="SeasonStats" asp-route-id="@item.SeasonId">
                            <i class="fas fa-signal fa-2x"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
