@model IEnumerable<FormuleCirkelEntity.Models.SeasonDriver>

@{
    ViewData["Title"] = "Penaltylist";
    int count = 0;
}

<div id="graphic">
    <h1>Penaltylist</h1>
    <br />
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Driver</th>
                <th>Engines</th>
                <th>Electrics</th>
                <th>Accidents</th>
                <th>Collisions</th>
                <th>DSQs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var driver in Model)
            {
                <tr>
                    <td><span class="badge" style="background-color:@(driver.SeasonTeam.Colour);color:@(driver.SeasonTeam.Accent);font-size:1rem;">@driver.Driver.Name</span></td>
                    <td>
                        @{count = driver.DriverResults.Where(d => d.DNFCause == DNFCause.Engine).Count();}
                        @if (count == 2)
                        {
                            <span class="badge badge-warning font-size-default nofullwidth">@count</span>
                        }
                        else if (count > 2)
                        {
                            <span class="badge badge-danger font-size-default nofullwidth">@count</span>
                        }
                        else
                        {
                            <span class="badge font-size-default">@count</span>
                        }
                    </td>
                    <td>
                        @{count = driver.DriverResults.Where(d => d.DNFCause == DNFCause.Electrics).Count();}
                        @if (count == 1)
                        {
                            <span class="badge badge-warning font-size-default nofullwidth">@count</span>
                        }
                        else if (count > 1)
                        {
                            <span class="badge badge-danger font-size-default nofullwidth">@count</span>
                        }
                        else
                        {
                            <span class="badge font-size-default">@count</span>
                        }
                    </td>
                    <td>
                        @{count = driver.DriverResults.Where(d => d.DNFCause == DNFCause.Accident).Count();}
                        @if (count == 2)
                        {
                            <span class="badge badge-warning font-size-default nofullwidth">@count</span>
                        }
                        else if (count > 2)
                        {
                            <span class="badge badge-danger font-size-default nofullwidth">@count</span>
                        }
                        else
                        {
                            <span class="badge font-size-default">@count</span>
                        }
                    </td>
                    <td>
                        @{count = driver.DriverResults.Where(d => d.DNFCause == DNFCause.Collision).Count();}
                        <span class="badge font-size-default">@count</span>
                    </td>
                    <td>
                        @{count = driver.DriverResults.Where(d => d.DSQCause != DSQCause.None).Count();}
                        <span class="badge badge-dsq font-size-default nofullwidth">@count</span>
                    </td>
                </tr>
            }
            <tr>
                <th style="background-color:black;">LIMITS</th>
                <th style="background-color:black;">2</th>
                <th style="background-color:black;">1</th>
                <th style="background-color:black;">2</th>
                <th style="background-color:black;"><i class="fas fa-dice"></i></th>
                <th style="background-color:black;">PIT</th>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>

<div id="screenshot"></div>