@model FormuleCirkelEntity.ViewModels.QualifyingBattleModel

@{
    ViewData["Title"] = "Qualifying battles";
}

<div class="d-inline-block">
    <h1>Qualifying battles</h1>
    <table id="graphic" class="ctable fullborder fullwidth min-width-index-table">
        <thead class="fullborder">
            <tr>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.Teams)
            {
                bool first = true;
                <tr style="height:50px;">
                    <td style="background-color:@(team.Colour);color:@(team.Accent);" class="text-left">
                        <span class="pl-1 pr-1">
                            <span class="flag flag-@(team.Team.Country) ff-sm flag-margin"></span>@team.Name
                        </span>
                    </td>
                    @foreach (var driver in team.SeasonDrivers)
                    {
                        @if (!first)
                        {
                            <td> - </td>
                        }
                        <td class="text-left"><span class="ml-cel"><span class="flag flag-@(driver.Driver.Country) ff-sm flag-margin"></span>@driver.Driver.Name</span></td>
                        <td class="bigger-text">@Model.QualyBattles[driver.SeasonDriverId]</td>
                        first = false;
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="flex-row justify-content-between mb-1">
        <a class="btn" asp-action="Detail" asp-route-id="@Model.SeasonId">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipImageBtn">
            <i class="fas fa-image fa-2x"></i>
        </button>
    </div>
    <div id="screenshot"></div>
</div>