@model IEnumerable<FormuleCirkelEntity.Models.SeasonDriver>

@{
    ViewData["Title"] = "Season details";
    int position = 1;
}

<h1>Season details for season @ViewBag.seasonId</h1>

<a asp-controller="Home" asp-action="PastDriverStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span class="badge badge-light" style="font-size:1rem;">WDC standings</span>
</a>
<a asp-controller="Home" asp-action="PastTeamStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span class="badge badge-light" style="font-size:1rem;">WCC standings</span>
</a>

<hr />
<h3>Power rankings</h3>
<table id="graphic" class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Driver</th>
            <th>Skill</th>
            <th>Team</th>
            <th>Chassis</th>
            <th>Engine</th>
            <th>Power</th>
            <th>Total</th>
            <th>Reliability</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var driver in Model)
        {
            <tr>
                <td>@(position++)</td>
                <td><span class="badge nofullwidth">@driver.Driver.DriverNumber</span>@driver.Driver.Name</td>
                <td>@driver.Skill</td>
                <td><span class="badge" style="background-color:@(driver.SeasonTeam.Team.Colour);color:@(driver.SeasonTeam.Team.Accent);font-size:1rem;">@driver.SeasonTeam.Team.Name</span></td>
                <td>@driver.SeasonTeam.Chassis</td>
                <td>@driver.SeasonTeam.Engine.Name</td>
                <td>@driver.SeasonTeam.Engine.Power</td>
                <td>@(driver.Skill + driver.SeasonTeam.Chassis + driver.SeasonTeam.Engine.Power)</td>
                <td>@(driver.SeasonTeam.Reliability + ((int)driver.Style - 1))</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn float-right" onclick="takeScreenshot()"><i class="fas fa-image"></i></button>

<a asp-action="Index">
    <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
</a>

<div id="screenshot"></div>

<script>
    function takeScreenshot() {
        html2canvas(document.querySelector('#graphic')).then(function (canvas) {
            $('#screenshot').empty();
            document.querySelector('#screenshot').appendChild(canvas);
        });
    }
</script>
