@model IEnumerable<FormuleCirkelEntity.Models.SeasonDriver>

@{
    ViewData["Title"] = "Season details";
    int position = 1;
    int driverRel = 0;
    int teamRel = 0;
}

<h1>Season details for season @ViewBag.number</h1>

<a asp-controller="Home" asp-action="PastDriverStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span class="badge badge-light" style="font-size:1rem;">WDC standings</span>
</a>
<a asp-controller="Home" asp-action="PastTeamStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span class="badge badge-light" style="font-size:1rem;">WCC standings</span>
</a>

<hr />
<h3>Power rankings</h3>
<div id="season-container">
    <div>
        <table id="graphic" class="table fullborder">
            <thead class="fullborder">
                <tr>
                    <th>#</th>
                    <th>Driver</th>
                    <th>Skill</th>
                    <th>Drvr. rel.</th>
                    <th>Team</th>
                    <th class="tcc-crew"><span>Chassis</span></th>
                    <th class="tcc-chassis"><span>Engine</span></th>
                    <th>Power</th>
                    <th>Total</th>
                    <th>TOP-ACC-HDL</th>
                    <th>Team rel.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driver in Model)
                {
                    <tr>
                        <td><b>@(position++)</b></td>
                        <td class="text-left">
                            <span class="driver-col">
                                @if (driver.DriverStatus == DriverStatus.First) { <b>@driver.Driver.Name</b> }
                                else if (driver.DriverStatus == DriverStatus.Second) { <i>@driver.Driver.Name</i> }
                                else { @driver.Driver.Name }
                            </span>
                        </td>
                        <td>@driver.Skill</td>
                        <td><span class="badge alt-color nofullwidth">@driver.Reliability</span></td>
                        <td><span class="badge fullwidth" style="background-color:@(driver.SeasonTeam.Colour);color:@(driver.SeasonTeam.Accent);font-size:1rem;">@driver.SeasonTeam.Name</span></td>
                        <td>@(driver.SeasonTeam.Chassis + (((int)driver.DriverStatus) * -2) + 2)</td>
                        <td>@driver.SeasonTeam.Engine.Name</td>
                        <td>@driver.SeasonTeam.Engine.Power</td>
                        <td>@(driver.Skill + driver.SeasonTeam.Chassis + driver.SeasonTeam.Engine.Power + ((((int)driver.DriverStatus) * -2) + 2))</td>
                        <td>
                            <span class="badge badge-dark" style="width:30%;">@driver.SeasonTeam.Topspeed</span>
                            <span class="badge badge-dark" style="width:30%;">@driver.SeasonTeam.Acceleration</span>
                            <span class="badge badge-dark" style="width:30%;">@driver.SeasonTeam.Handling</span>
                        </td>
                        <td><span class="badge alt-color nofullwidth">@(driver.SeasonTeam.Reliability)</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div>
            <h4>Points earned</h4>
            <ol>
                @foreach (var point in ViewBag.points)
                {
                    <li><span class="badge badge-pill badge-dark">@point points</span></li>
                }
            </ol>
        </div>
        <div class="flex-item" style="margin-left:100px;">
            <h4>Team traits</h4>
            <div>
                <dl class="row">
                    @{
                        var teams = Model.Select(st => st.SeasonTeam).Distinct().OrderBy(st => st.Team.Abbreviation);
                        @foreach (var team in teams)
                        {
                            <dt class="badge nofullwidth col-2" style="background-color:@(team.Colour);color:@(team.Accent);">
                                @team.Team.Abbreviation
                            </dt>
                            @if (team.Traits.Any())
                            {
                                <dd class="col-10">
                                    @foreach (var trait in team.Traits.Values)
                                    {
                                        <span class="badge nofullwidth">[@trait.Name]</span>
                                    }
                                </dd>
                            }
                            else
                            {
                                <dd class="col-10">
                                    <span class="badge nofullwidth">-</span>
                                </dd>
                            }
                        }
                    }
                </dl>
            </div>
        </div>
    </div>
</div>

<button class="btn float-right" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>

<a asp-action="Index">
    <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
</a>

<div id="screenshot"></div>
