@model IEnumerable<FormuleCirkelEntity.Models.SeasonDriver>

@{
    ViewData["Title"] = "Season details";
    int position = 1;
    string style = "";
}

<h1>Season details for season @ViewBag.number</h1>

<a asp-controller="Home" asp-action="PastDriverStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span class="badge badge-light" style="font-size:1rem;">WDC standings</span>
</a>
<a asp-controller="Home" asp-action="PastTeamStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span class="badge badge-light" style="font-size:1rem;">WCC standings</span>
</a>

<hr />
<h3>Power rankings</h3>
<div id="season-container">
    <div>
        <table id="graphic" class="table table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Driver</th>
                    <th>Skill + Style</th>
                    <th>Team</th>
                    <th>Chassis</th>
                    <th>Engine</th>
                    <th>Power</th>
                    <th>Total</th>
                    <th>TOP</th>
                    <th>ACC</th>
                    <th>STB</th>
                    <th>HDL</th>
                    <th>Reliability</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driver in Model)
                {
                    @if (driver.Style == Style.Aggressive) { style = "+ 3"; }
                    else if(driver.Style == Style.Neutral) { style = ""; }
                    else { style = "- 3"; }
                    <tr>
                        <td>@(position++)</td>
                        <td>
                            <span class="badge alt-color nofullwidth">@driver.Driver.DriverNumber</span>
                            @if (driver.DriverStatus == DriverStatus.First) { <b>@driver.Driver.Name</b> }
                            else if (driver.DriverStatus == DriverStatus.Second) { <i>@driver.Driver.Name</i> }
                            else { @driver.Driver.Name }
                        </td>
                        <td>@driver.Skill @style</td>
                        <td><span class="badge" style="background-color:@(driver.SeasonTeam.Team.Colour);color:@(driver.SeasonTeam.Team.Accent);font-size:1rem;">@driver.SeasonTeam.Team.Name</span></td>
                        <td>@(driver.SeasonTeam.Chassis + driver.ChassisMod + (((int)driver.DriverStatus) * -2) + 2)</td>
                        <td>@driver.SeasonTeam.Engine.Name</td>
                        <td>@driver.SeasonTeam.Engine.Power</td>
                        <td>@(driver.Skill + driver.SeasonTeam.Chassis + driver.ChassisMod + driver.SeasonTeam.Engine.Power + ((((int)driver.DriverStatus) * -2) + 2) + (3 - (3 * (int)driver.Style)))</td>
                        <td><span class="badge badge-dark nofullwidth">@driver.SeasonTeam.Topspeed</span></td>
                        <td><span class="badge badge-dark nofullwidth">@driver.SeasonTeam.Acceleration</span></td>
                        <td><span class="badge badge-dark nofullwidth">@driver.SeasonTeam.Stability</span></td>
                        <td><span class="badge badge-dark nofullwidth">@driver.SeasonTeam.Handling</span></td>
                        <td><span class="badge alt-color nofullwidth">@(driver.SeasonTeam.Reliability + driver.ReliabilityMod + (-2 - (-2 * (int)driver.Style)))</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <h4>Points earned</h4>
        <ol>
            @foreach (var point in ViewBag.points)
            {
                <li><span class="badge badge-pill badge-dark">@point points</span></li>
            }
        </ol>
    </div>
</div>

<button class="btn float-right" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>

<a asp-action="Index">
    <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
</a>

<div id="screenshot"></div>
