@model IEnumerable<FormuleCirkelEntity.Models.SeasonTeam>

@{
    ViewData["Title"] = "Team development";
}

<div class="d-inline-block w-60">
    <h1>Team development</h1>

    <div class="flex-row justify-content-between mb-1">
        <div>
            <button id="develop" class="btn fullborder">Develop</button>
            <input id="min" class="input-style fullheight" type="number" placeholder="Min. RNG" />
            <input id="max" class="input-style fullheight" type="number" placeholder="Max. RNG" />
        </div>
        <button id="custom" class="btn fullborder">Custom</button>
    </div>

    <table id="graphic" class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th class="text-left"><span class="ml-cel">Team</span></th>
                <th>Abbreviation</th>
                <th onclick="hideElements()" style="cursor:pointer;">Old</th>
                <th onclick="hideElements()" style="cursor:pointer;">Change</th>
                <th onclick="hideElements()" style="cursor:pointer;">New</th>
                <th class="w-25">Custom</th>
            </tr>
        </thead>
        <tbody id="devtable">
            @{
                int number = 1;
                foreach (var team in Model)
                {
                    <tr>
                        <td class="text-left"><span class="ml-cel">@team.Name</span></td>
                        <td>
                            <span class="custom-badge fullwidth" style="background-color:@(team.Colour);
                                    color:@(team.Accent);">
                                @team.Team.Abbreviation
                            </span>
                        </td>
                        <td id="old-value-@number" class="onclick-hide">@team.Chassis</td>
                        <td id="custom-change-@number">?</td>
                        <td id="custom-new-@number" class="onclick-hide">-</td>
                        <td>
                            <input id="custom-min-@number" class="input-style" type="number" placeholder="Min. RNG" />
                            <input id="custom-max-@number" class="input-style" type="number" placeholder="Max. RNG" />
                        </td>
                        <td id="team-id-@(number++)" style="display:none;">@(team.SeasonTeamId)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button id="save" class="btn fullborder fullwidth">Save</button>

    <div class="flex-row justify-content-between">
        <a asp-action="Detail" asp-route-id="@ViewBag.seasonId">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')" data-toggle="tooltip" data-placement="right" title="@Constants.ToolTipImageBtn">
            <i class="fas fa-image fa-2x"></i>
        </button>
    </div>

    <div id="screenshot"></div>
</div>

<script>
    $(document).ready(function () {
        $("#save").hide();

        $('#develop').click(function () {
            var number = 1;
            var min = Math.ceil(document.getElementById("min").value);
            var max = Math.floor(document.getElementById("max").value);
            $('#devtable').children('tr').each(function () {
                var element = document.getElementById("old-value-" + number);
                var text = element.textContent;
                var old = Number(text);
                var dev = Math.floor(Math.random() * (max - min + 1)) + min;
                var newdev = (old + dev);

                document.getElementById("custom-change-" + number).innerText = dev;
                document.getElementById("custom-new-" + number).innerText = newdev;

                number = (number + 1);
            });

            $("#save").show();
        });

        $('#custom').click(function () {
            var number = 1;
            $('#devtable').children('tr').each(function () {
                getDev(number);
                number = (number + 1);
            });

            $("#save").show();
        });
            
        $("#save").click(function () {
            var teams = new Array();
            var number = 1;
            $("#devtable").children('tr').each(function () {
                var row = $(this);
                var team = {};
                team.id = row.find("#team-id-" + number).html();
                team.newdev = row.find("#custom-new-" + number).html();
                teams.push(team);

                number = (number + 1);
            });

            $.ajax({
                type: "POST",
                url: "/Season/SaveTeamDev",
                headers: {
                    'Accept': 'application/html',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(teams),
                dataType: "json",
                complete: function (result) {
                    if (result.responseText) {
                        $('head').html(result.responseJSON);
                        $('body').html(result.responseText);
                    }
                }
            });
        });
    });
</script>