@model IEnumerable<FormuleCirkelEntity.Models.SeasonTeam>

@{
    ViewData["Title"] = "Team development";
}

<style>
    .slider-element {
        margin-left: 1em;
        margin-bottom: 40px;
    }
</style>

<div class="d-inline-block w-60">
    <h1>Team reliability</h1>

    <div class="flex-row">
        <div>
            <button id="develop" class="btn fullborder">Set dev</button>
        </div>
        <div class="slider-element">
            <div id="dev-slider"></div>
            <input id="min-rng" type="hidden" />
            <input id="max-rng" type="hidden" />
        </div>
    </div>

    <table id="graphic" class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th class="text-left"><span class="ml-cel">Team</span></th>
                <th>Abbreviation</th>
                <th>Old</th>
                <th>Change</th>
                <th>New</th>
            </tr>
        </thead>
        <tbody id="devtable">
            @{
                int number = 1;
                foreach (var team in Model)
                {
                    <tr>
                        <td class="text-left"><span class="ml-cel">@team.Name</span></td>
                        <td>
                            <span class="custom-badge fullwidth" style="background-color:@(team.Colour);
                                    color:@(team.Accent);">
                                @team.Team.Abbreviation
                            </span>
                        </td>
                        <td id="old-value-@number">@team.Reliability</td>
                        <td id="custom-change-@number">?</td>
                        <td id="custom-new-@number">-</td>
                        <td id="team-id-@(number++)" style="display:none;">@(team.SeasonTeamId)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button id="save" class="btn fullborder fullwidth">Save</button>

    <div class="flex-row justify-content-between">
        <a class="btn" asp-action="Detail" asp-route-id="@ViewBag.seasonId">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
        <button class="btn" onclick="takeScreenshot('#graphic', '#screenshot')" data-toggle="tooltip" data-placement="right" title="@TextResources.TooltipImageButton">
            <i class="fas fa-image fa-2x"></i>
        </button>
    </div>
    <div id="screenshot"></div>
</div>

<script>
    $(document).ready(function () {
        // Creates and handles the slider of the dev
        var devSlider = document.getElementById("dev-slider");
        createSlider(devSlider, -5, 5, "min-rng", "max-rng", 0, 0);

        $("#save").hide();

        $('#develop').click(function () {
            var number = 1;
            var min = Math.ceil(document.getElementById("min-rng").value);
            var max = Math.floor(document.getElementById("max-rng").value);
            $('#devtable').children('tr').each(function () {
                var element = document.getElementById("old-value-" + number);
                var text = element.textContent;
                var old = Number(text);
                var dev = Math.floor(Math.random() * (max - min + 1)) + min;
                var newdev = (old + dev);

                document.getElementById("custom-change-" + number).innerText = dev;
                document.getElementById("custom-new-" + number).innerText = newdev;

                number = (number + 1);
            });
            $("#save").show();
        });

        $("#save").click(function () {
            var teams = new Array();
            var number = 1;
            $("#devtable").children('tr').each(function () {
                var row = $(this);
                var team = {};
                team.id = row.find("#team-id-" + number).html();
                team.newdev = row.find("#custom-new-" + number).html();
                teams.push(team);

                number = (number + 1);
            });
            $.ajax({
                type: "POST",
                url: "/Season/SaveTeamReliabilityDev",
                headers: {
                    'Accept': 'application/html',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(teams),
                dataType: "json",
                complete: function (result) {
                    if (result.responseText) {
                        $('head').html(result.responseJSON);
                        $('body').html(result.responseText);
                    }
                }
            });
        });
    });
</script>