@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "ArchivedEngines";
}

<div class="d-inline-block w-60">
    <h1>Archived Engines</h1>

    <table class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Power)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Power)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-edit fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-undo fa-2x"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="float-left">
        <a asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
    </div>
</div>
