@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "Engines";
    var pageCount = (int)ViewData["pageCount"];
    var pageSize = (int)ViewData["pageSize"];
    var pageNumber = (int)ViewData["pageNumber"];
    var backPage = pageNumber >= 1 ? pageNumber - 1 : 1;
    var nextPage = pageNumber <= pageCount ? pageNumber + 1 : pageCount;
    bool isAdmin = this.User.IsInRole(Constants.RoleAdmin);
}

<div class="d-inline-block">
    <h1>Engines</h1>

    <div class="flex-row justify-content-between index-btns">
        @if (isAdmin)
        {
            <a asp-action="Create" class="btn fullborder mr-auto"><i class="fas fa-plus"></i><span class="ml-1">New</span></a>
        }
        <a asp-action="ArchivedEngines" class="btn fullborder"><i class="fas fa-archive"></i><span class="ml-1">Archive</span></a>
    </div>

    <table class="ctable fullborder fullwidth min-width-index-table">
        <thead class="fullborder">
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th class="w-10">Edit</th>
                <th class="w-10">Archive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Power</td>
                    @if (isAdmin)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-wrench fa-2x"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt fa-2x"></i>
                            </a>
                        </td>
                    } else { <td></td><td></td>}
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" asp-route-ps="@pageSize" asp-route-p="@backPage"><span>&laquo;</span></a>
            </li>
            @for (int i = 1; i <= pageCount; i++)
            {
                <li class="page-item"><a class="page-link" asp-route-ps="@pageSize" asp-route-p="@i">@i</a></li>
            }
            <li class="page-item">
                <a class="page-link" asp-route-ps="@pageSize" asp-route-p="@nextPage"><span>&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>
