@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "Motoren";
}

<section>
    <h1>Motoren</h1>
    <section>
        <p>
            <a asp-action="Create">
                <img src="~/images/icon-add.png" width="30" height="30" title="Add" />
            </a>
        </p>
    </section>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Kracht</th>
                    <th>Beschikbaar</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Power)</td>
                        <td>@Html.DisplayFor(modelItem => item.Available)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EngineId">
                                <img src="~/images/icon-edit.png" width="30" height="30" title="Edit" />
                            </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.EngineId">
                                <img src="~/images/icon-trash.png" width="30" height="30" title="Delete" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>
