@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "Motoren";
}

<section>
    <h1>Motoren</h1>
    <section>
        <p>
            <a asp-action="Create">
                <i class="fas fa-plus-square fa-2x"></i>
            </a>
        </p>
    </section>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Kracht</th>
                    <th>Beschikbaar</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.OnePage)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Power</td>
                        <td>@item.Available</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EngineId">
                                <i class="fas fa-tools fa-2x"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.EngineId">
                                <i class="fas fa-trash-alt fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>

@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })