@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "Motoren";
}

<section>
    <h1>Motoren</h1>
    <section>
        <p>
            <a asp-action="Create">
                <i class="fas fa-plus-square"></i>
            </a>
        </p>
    </section>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Kracht</th>
                    <th>Beschikbaar</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Power)</td>
                        <td>@Html.DisplayFor(modelItem => item.Available)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EngineId">
                                <i class="fas fa-tools"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.EngineId">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>
