@model FormuleCirkelEntity.ViewModels.AddTeamToUserModel

@{
    ViewData["Title"] = "Add team to user";
}

<div class="d-inline-block w-60">
    <h1>Teams from @Html.DisplayFor(modelItem => modelItem.SimUser.UserName)</h1>

    <div class="col">
        <h3>Owned teams</h3>
        <table class="ctable fullborder fullwidth">
            <thead class="fullborder">
                <tr>
                    <th class="w-20">
                        Team
                    </th>
                    <th class="w-10">Info</th>
                    <th class="w-10"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var team in Model.OwnedTeams)
            {
                <tr>
                    <td class="text-left"><span class="flag flag-@team.Country ff-md flag-margin ml-cel"></span>
                        @Html.DisplayFor(modelItem => team.Abbreviation)
                    </td>
                    <td>
                        <a asp-controller="Teams" asp-action="Stats" asp-route-id="@team.Id"><i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td>
                        <a asp-action="RemoveTeamFromUser" asp-route-userId="@Model.SimUser.Id" asp-route-teamId="@team.Id" class="btn fullwidth">Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <h3>Other teams</h3>
        <div class="flex-row justify-content-between mb-1">
            <form method="POST">
                <input id="randomInput" type="hidden" name="teamId" />
                <input id="randomSubmit" type="submit" class="btn fullwidth" value="Random" />
            </form>
        </div>
        <table class="ctable fullborder fullwidth">
            <thead class="fullborder">
                <tr>
                    <th class="w-20">
                        Team
                    </th>
                    <th class="w-10">Info</th>
                    <th class="w-10"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var team in Model.OtherTeams)
            {
                <tr>
                    <td class="text-left"><span class="flag flag-@team.Country ff-md flag-margin ml-cel"></span>
                        @Html.DisplayFor(modelItem => team.Abbreviation)
                    </td>
                    <td>
                        <a asp-controller="Teams" asp-action="Stats" asp-route-id="@team.Id"><i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="teamId" value="@team.Id" />
                            <input type="submit" class="btn fullwidth" value="Add" />
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="float-left">
        <a class="btn" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
</div>

<script>
    window.onload = function () {
        var teams = @(Json.Serialize(Model.OtherTeams.Select(t => t.Id)));

        if (traits.length == 0) {
            document.getElementById("randomSubmit").style.display = "none";
        }
        else {
            const randomId = teams[Math.floor(Math.random() * teams.length)];
            document.getElementById("randomInput").value = randomId;
        }
    }
</script>