@model IEnumerable<FormuleCirkelEntity.Models.SimUser>

@{
    ViewData["Title"] = "Users index";
}

<div class="d-inline-block">
    <table class="ctable fullborder fullwidth min-width-index-table">
        <thead>
            <tr>
                <td>Username</td>
                <td>Full name</td>
                <td>E-mail</td>
                <td>Owns drivers</td>
                <td>Owns teams</td>
                <td>Modify</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => user.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    <td>
                        <a class="btn" asp-action="AddDriverToUser" asp-route-userId="@user.Id">
                            @Html.DisplayFor(modelItem => user.Drivers.Count)
                        </a>
                    </td>
                    <td>
                        <a class="btn" asp-action="AddTeamToUser" asp-route-userId="@user.Id">
                            @Html.DisplayFor(modelItem => user.Teams.Count)
                        </a>
                    </td>
                    <td>
                        <a asp-action="Modify" asp-route-userId="@user.Id">
                            <i class="fas fa-wrench fa-2x"></i>
                        </a>
                    </td>
                    <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </button>
                    </form>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>
