@model IEnumerable<FormuleCirkelEntity.Models.SimUser>

@{
    ViewData["Title"] = "Users index";
}

<div class="d-inline-block">
    <table class="ctable fullborder fullwidth min-width-index-table">
        <thead>
            <tr>
                <td>Username</td>
                <td>E-mail</td>
                <td>Last login</td>
                <td>Owns drivers</td>
                <td>Owns teams</td>
                <td>Modify</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.OrderBy(u => u.UserName))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    <td>@Html.DisplayFor(modelItem => user.LastLogin)</td>
                    <td>
                        <a class="btn fullwidth fullborder" asp-action="AddDriverToUser" asp-route-userId="@user.Id">
                            <span class="bigger-text">@Html.DisplayFor(modelItem => user.Drivers.Count)</span>
                        </a>
                    </td>
                    <td>
                        <a class="btn fullwidth fullborder" asp-action="AddTeamToUser" asp-route-userId="@user.Id">
                            <span class="bigger-text">@Html.DisplayFor(modelItem => user.Teams.Count)</span>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Modify" asp-route-userId="@user.Id">
                            <i class="fas fa-wrench fa-2x"></i>
                        </a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <button class="btn btn-danger fullborder" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="float-left">
        <a class="btn" asp-controller="Accounts" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
</div>
